{% load i18n static %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}
    <title>بازار نخل</title>
</head>
<body id="login-page">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="login-sec register-div register-page-whole-div">
                <div class="blue-thick-line-top"></div>
                <div class="register-page-whole-content">
                    <h4>فراموشی رمز عبور</h4>
                </div>
                {% include 'registration/messages.html' %}
                <div class="setform">
                    <form method="POST" id="regform">
                        {% csrf_token %}
                        <div class="get-code-form-part">
                            <input id="password" name="password" type="password" placeholder="رمز عبور *" class="input-login" required="">
                            <input id="newpassword" name="newpassword" type="password" placeholder="تکرار رمز عبور *" class="input-login" required="">
                            <button id="sign-up-button2" type="submit">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="results">
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
</body>
