{% load i18n static %}
{% load analytical %}
{% load analytical %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}
    <title>بازار نخل</title>
{% analytical_head_bottom %}</head>
<body id="login-page">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="login-sec register-div register-page-whole-div">
                <div class="blue-thick-line-top"></div>
                <div class="register-page-whole-content">
                    <h4>فراموشی رمز عبور</h4>
                </div>
                {% include 'registration/messages.html' %}
                <div class="setform">
                    <form method="POST" id="regform">
                        {% csrf_token %}
                        {{form.mobile_number}}
                        <div>
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}  
                        </div>
                        <div class="get-code-form-part">

                            {{ form.password }}
                            {% if form.password.errors %}
                                <ul>
                                {% for error in form.password.errors %}
                                <li><strong class='text-danger text-sm'>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {{ form.confirm_password }}
                            {% if form.confirm_password.errors %}
                                <ul>
                                {% for error in form.confirm_password.errors %}
                                <li><strong class='text-danger text-sm'>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <button id="sign-up-button2" type="submit">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="results">
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
{% analytical_body_bottom %}</body>
