{% load i18n static %}
{% load analytical %}
{% load analytical %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}
    <title>بازار نخل</title>
{% analytical_head_bottom %}</head>
<body id="login-page">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="login-sec register-div register-page-whole-div">
               <div class="blue-thick-line-top"></div>
               <div class="register-page-whole-content">
                  <h4>ورود</h4>
               </div>
               <div class="col-12">
                    {% include 'registration/messages.html'%}
                </div>
                <div class="setform">
                    <div class="phonesender" style="min-height: 200px">
                        <div class="get-code-form-part">
                            <form method="POST" id="codesetvalid">
                                {% csrf_token %}
                                <div class="input-login-modal input-mob-forgetpassword">
                                {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.non_field_errors }}
                                </div>
                               {% endif %}    
                                <div class="before-input-icon"> 
                                    <i class="fal fa-key fix-before-input-icon-place"></i>
                                </div>
                                <div class="main-input-login">
                                    {{ form.password }}
                                </div>
                                {% if form.password.errors %}
                                    <ul>
                                    {% for error in form.password.errors %}
                                    <li><strong class='text-danger text-sm'>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                <br>
                                <div class="login-button-modal submit-code-btn"> 
                                    <button id="submit-authentication-code" type="submit">ورود</button>
                                </div>
                                </div>
                            </form>
                        </div>
                        <div class="get-code-form-part footer-of-submit-code">
                            <span> شماره {{phone_number}} اشتباه است؟ 
                                <a href="{% url 'auth:get-phone' %}" class="text-primary font-weight-bold">تغییر شماره همراه</a>
                            </span>
                        </div>
                    </div>
                </div>
        <script>
        function resend_code(){
            $.post(
                {% if id == 'register' %}
                "{% url "auth:register-mobile" %}", 
                {% else %}
                "{% url "auth:forget-password-mobile" %}", 
                {% endif %}
                {csrfmiddlewaretoken : $("input[name='csrfmiddlewaretoken']")[0].value}
                )
            location.reload()
        }        
        window.Storage.setItem('countDown', JSON.stringify({ minutes: 1, seconds: 60 }));
        </script>
        </div>
        </div>
    </div>
    </div>
    </div>
{% analytical_body_bottom %}</body>
