{% load i18n static %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}
    <title>بازار نخل | ورود</title>
</head>
<body id="login-page">

<div class="login-sec login-page-whole-div">
    <div class="blue-thick-line-top"></div>
    <div class="login-page-whole-content">
    <h5>ورود به سایت</h5>
    {% include 'registration/messages.html' %}
    <form id="login-form" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="input-login-modal input-mob-login login-page-main-input-login-mob">
            <div class="before-input-icon">
                <i class="fal fa-phone fix-before-input-icon-place"></i>
            </div>
            <div class="main-input-login">
                {{ form.mobile_number }}
            </div>
        </div>
        {% if form.mobile_number.errors %}
            <ul>
            {% for error in form.mobile_number.errors %}
                <li><strong class='text-danger text-sm'>{{ error|escape }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="input-login-modal input-password-login">
            <div class="before-input-icon">
                <i class="fal fa-lock-alt fix-before-input-icon-place"></i>
            </div>
            <div class="main-input-login">
                {{ form.password }}
            </div>
        </div>
        <div class="under-inputs">
            <div class="remember-checkbox">
                {{ form.remember_me }} مرا به خاطر بسپار
            </div>
            <div class="forget-password-login-modal">
                <a href="{% url "auth:forget-password-mobile" %}">رمز عبور خود را فراموش کرده اید؟</a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="login-button-modal login-button-in-login-page">
            <button id="login-button">
                ورود
            </button>
        </div>



    </form>
    </div>
    <div class="hr-line-full"></div>
    <div class="login-page-whole-content login-page-footer">
        <span>عضو جدید هستید؟</span> <a href="{% url "auth:register-mobile" %}">ثبت نام کنید</a>
    </div>
</div>
</body>
