{% if messages %}
<div id="alert-div-mobile-password-error" class="alert alert-warning alert-dismissible fade show custom-alart limit-alert" role="alert">
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.tags == "info"  %}<i class="far fa-question-circle"></i>
            {% elif message.tags == "success" %}<i class="far fa-check-circle"></i>
            {% elif message.tags == "warning" %}<i class="far fa-exclamation-circle"></i>
            {% endif %}
            <p>{{ message }}</p>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}