{% load i18n static %}
{% load analytical %}
{% load analytical %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}
    <title>بازار نخل | ثبت نام</title>
{% analytical_head_bottom %}</head>
<body id="login-page">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="login-sec register-div register-page-whole-div">
                <div class="blue-thick-line-top"></div>
                <div class="register-page-whole-content">
                    <h4>ثبت نام در سایت</h4>
                </div>
                <div class="col-12">
                    {% include 'registration/messages.html'%}
                </div>
                <div class="setform">
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}  
                    <form method="post" class="needs-validation" novalidate oninput='newpassword.setCustomValidity(password.value != newpassword.value ? "Passwords do not match." : "")'>
                        {% csrf_token %}
                        <div class="get-code-form-part">
                            {% for field in form %}
                                <div class="before-input-icon"> 
                                    <i class="{{form.label_tag}}"></i>
                                </div>
                                <div class="main-input-login">
                                    {{ field }}
                                </div>
                                {% if form.code.errors %}
                                    <ul>
                                    {% for error in field.errors %}
                                    <li><strong class='text-danger text-sm'>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                <br>
                            {% endfor %}
                            <button id="sign-up-button2" type="submit">ثبت نام</button>
                        </div>
                    </form>
                </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
{% analytical_body_bottom %}</body>
