{% load i18n static %}
{% load analytical %}
{% load analytical %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}
    <title>بازار نخل | ثبت نام</title>
{% analytical_head_bottom %}</head>
<body id="login-page">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="login-sec register-div register-page-whole-div">
                <div class="blue-thick-line-top"></div>
                <div class="register-page-whole-content">
                    <h4>ثبت نام در سایت</h4>
                </div>
                <div class="col-12">
                    {% include 'registration/messages.html'%}
                </div>
                <div class="setform">
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}  
                    <form method="post" class="needs-validation" novalidate oninput='newpassword.setCustomValidity(password.value != newpassword.value ? "Passwords do not match." : "")'>
                        {% csrf_token %}
                        <div class="get-code-form-part">
                            
                                <div class="before-input-icon"> 
                                    <i class=""></i>
                                </div>
                                
                                <div class="main-input-login">
                                    <input type="password" name="password"  placeholder="رمز عبور" class="input-login" maxlength="12" minlength="5" required id="id_password">
                                </div>
                                
                                <br>
                                
                                <div class="input-login-modal input-password-login">
                                    <div class="before-input-icon"> 
                                        <i class=""></i>
                                    </div>
                                    <div class="main-input-login">
                                        <input type="password" onblur="ansValidationFirst()" onkeyup="ansValidation()"  name="confirm_password"  placeholder="تکرار رمز عبور" class="input-login" maxlength="12" minlength="5" required id="id_confirm_password">
                                    </div>
                                    <div class="after-input-icon">
                                    <i class="fal fa-eye fix-before-input-icon-place " id="showPassword" onclick="FunctionShow(this)"></i>
                        
                                    </div>
                                </div>
                                
                                <br>
                            
                                <div class="before-input-icon"> 
                                    <i class=""></i>
                                </div>
                                <div class="main-input-login">
                                    <input type="email" name="email" placeholder="ایمیل (اختیاری)" class="input-login" id="id_email">
                                </div>
                                
                                <br>
                            
                                <div class="before-input-icon"> 
                                    <i class=""></i>
                                </div>
                                <div class="main-input-login">
                                    <input type="text" name="reference_code" placeholder="کد معرف (اختیاری)" class="input-login" pattern="[0-9]{6}" id="id_reference_code">
                                </div>
                                
                                <br>
                            
                            <button id="sign-up-button2" style="background:#bfbeca;" onclick="ansValidation(event)" type="submit" disabled>ثبت نام</button>
                        </div>
                        </div>
                    </form>
                    <div>
                    
                    <p style="color:red;"  id="warningtext"> </p>
                    </br>
                    
                    </div>
                </div>
            </div>
         </div>
      </div>
   
   </div>
 {% analytical_body_bottom %}
 
 <script>

 function ansValidation() {
    
    // there is no input named name
    //var nameValue = document.getElementById("name").value
    
    var passValue = document.getElementById("id_password").value
    var passValueLen=passValue.length;
    var confpassValue = document.getElementById("id_confirm_password").value
    var confpassValueLen=confpassValue.length;
    
   
    // the typeof operator returns a string.
    if(passValue !== confpassValue && passValueLen <= confpassValueLen) {
       
       document.getElementById("warningtext").innerHTML="رمز و تکرار رمز عبور باید یکسان باشند.";
       document.getElementById("sign-up-button2").style.background=' #bfbeca';
        document.getElementById("sign-up-button2").disabled= true;
        
    }else if(passValue == confpassValue){
        document.getElementById("warningtext").innerHTML="";
        document.getElementById("sign-up-button2").style.background=' #43425d';
        document.getElementById("sign-up-button2").disabled= false;
    }
 }

 function ansValidationFirst()
{
    var passValue = document.getElementById("id_password").value
    var confpassValue = document.getElementById("id_confirm_password").value
   if(passValue !== confpassValue ) {
       
       document.getElementById("warningtext").innerHTML="رمز و تکرار رمز عبور باید یکسان باشند.";
       document.getElementById("sign-up-button2").style.background=' #bfbeca';
        document.getElementById("sign-up-button2").disabled= true;
        
    }else if(passValue == confpassValue){
        document.getElementById("warningtext").innerHTML="";
        document.getElementById("sign-up-button2").style.background=' #43425d';
        document.getElementById("sign-up-button2").disabled= false;
    }
} 


    //show password
    const togglePassword = document.querySelector('#showPassword');
    const password = document.querySelector('#id_password');
    const conpassword = document.querySelector('#id_confirm_password');
     togglePassword.addEventListener('click', function (e) {
     // toggle the type attribute
     const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
     const type2 = conpassword.getAttribute('type') === 'password' ? 'text' : 'password';
     password.setAttribute('type', type);
     conpassword.setAttribute('type',type2);

     // toggle the eye slash icon
     this.classList.toggle('fa-eye-slash');
        });

</script>

</body>
