{% load jformat %}

{% block header %}
    {% include "nakhll_market/parents/headermain.html" %}
{% endblock %}

    <title>بازار نخل | ثبت کوپن حجره</title>
</head>

{% block headertag %}
    {% include "nakhll_market/parents/new-headertag-section.html" %}
{% endblock %}

{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}

<section id="bg-profile-top">

</section>

<section id="profile-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="profile-sidebar-site">   
                    {% block topsidebar %}
                        {% include "nakhll_market/profile/parents/new-topsidebar.html" %}
                    {% endblock %}
                    <div class="profile-sidebar-main">
                        <a href="/profile/dashboard/">
                            <button>
                                <i class="fas fa-id-badge"></i>
                                <h5>داشبورد</h5>
                            </button>
                        </a>

                        <a href="/profile/transaction/">
                            <button>
                                <i class="fad fa-clipboard-list"></i>
                            <h5>تراکنش ها</h5>
                            </button>
                        </a>

                        <a href="/profile/factor/">
                            <button>
                                <i class="fas fa-file-invoice-dollar"></i>
                                <h5>فاکتور ها</h5>
                            </button>
                        </a>

                        <a href="/profile/ticketing/">
                            <button>
                                <i class="fad fa-user-headset"></i>
                                <h5>پشتیبانی</h5>
                            </button>
                        </a>

                        <a href="/profile/shops/">
                            <button class="activebtn">
                                <i class="fas fa-store"></i>
                                <h5>مدیریت حجره</h5>
                            </button>
                        </a>

                        <a href="/profile/review/">
                            <button>
                                <i class="fad fa-comments-alt"></i>
                                <h5>نقد ها و نظرات</h5>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-9">
                {% block header-profile %}
                    {% include "nakhll_market/profile/parents/new-header-profile.html" %}
                {% endblock %}
                <div class="row">
                    {% if ShowAlart %}
                        <div class="col-xl-6 xol-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="alert alert-warning alert-dismissible fade show custom-alart" role="alert">
                                <i class="far fa-exclamation-circle"></i><strong>اطلاعیه</strong>
                                <p>
                                    {{AlartMessage}}
                                </p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12">
                        <div class="dashboard"> 
                            <h4>اضافه کردن کوپن حجره</h4>  
                            <form id="new-prod-form" method="POST" enctype="multipart/form-data" action="">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCopun_Title">عنوان کوپن<code>*</code></label>
                                        <input type="text" name="copun_title" maxlength="100" class="form-control" id="inputCopun_Title" required>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputCopun_Serial">سریال کوپن</label>
                                        <input type="text" name="copun_serial" pattern="[a-z.A-Z-0-9_]{8,30}" class="form-control" id="inputCopun_Serial">
                                        <small class="smallhelp">شماره سریال کوپن حداقل 8 و حداکثر 30 کاراکتر می تواند باشد!</small>
                                        <small class="smallhelp">در صورت خالی گذاشتن این فیلد یک سریال 8 رقمی تصادفی برای کوپن شما تولید می شود!</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputCopun_Des">توضیحات کوپن</label>
                                        <textarea class="form-control" name="copun_des" id="inputCopun_Des" rows="1"></textarea>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCopun_Shops"> حجره ها </label>
                                        <select data-placeholder="حجره ها" multiple class="chosen-select-rtl form-control" id="inputCopun_Shops" name="copun_shops" tabindex="14">
                                            {% for item in Shops %}
                                                <option value="{{item.ID}}">{{item.Title}}</option>
                                            {% endfor %}
                                        </select>
                                        <small class="smallhelp">حجره هایی که می خواهید این کوپن روی آن ها اعمال شود را اینجا وارد نمایید.</small>
                                        <br>
                                        <small>اگر می خواهید روی کل محصولات یک حجره کوپن تخفیف را اعمال کنید، نام حجره را اینجا وارد نمایید.</small>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputCopun_Products"> محصولات </label>
                                        <select data-placeholder="محصولات" multiple class="chosen-select-rtl form-control" id="inputCopun_Products" name="copun_products" tabindex="14">
                                            {% for item in Products %}
                                                <option value="{{item.ID}}">{{item.Title}}</option>
                                            {% endfor %}
                                        </select>
                                        <small class="smallhelp">محصولاتی که می خواهید این کوپن روی آن ها اعمال شود را اینجا وارد نمایید.</small>
                                        <br>
                                        <small>اگر می خواهید روی تعدادی از محصولات خود کوپن تخفیف را اعمال کنید، نام محصولات را اینجا وارد نمایید.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCopun_StartDay">تاریخ شروع کوپن<code>*</code></label>
                                        <input type="text" name="Copun_SatatDay" class="form-control" id="inputCopun_StartDay" required >
                                        <script>
                                            $("#inputCopun_StartDay").persianDatepicker({
                                                startDate: "today",
                                                endDate: "1455/05/05"
                                            });
                                        </script>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputCopun_EndDay">تاریخ انقضاء کوپن<code>*</code></label>
                                        <input type="text" name="Copun_EndDay" class="form-control" id="inputCopun_EndDay" required >
                                        <script>
                                            $("#inputCopun_EndDay").persianDatepicker({
                                                startDate: "today",
                                                endDate: "1455/05/05"
                                            });
                                        </script>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCopun_DiscountType">نوع تخفیف کوپن</label>
                                        <select id="inputCopun_DiscountType" name="Copun_DiscountType" class="form-control">
                                            <option selected>درصدی</option>
                                            <option>اعتباری</option>
                                        </select>
                                        <small class="smallhelp">اگر میخواهید چند درصد تخفیف دهید، نوع در صدی را انتخاب کنید و در صورتی که می خواهید مقداری ثابت تخغیف دهید نوع اعتباری را انتخاب کنید.</small>
                                    </div>

                                    <div class="form-group col-md-6">
                                    <label for="inputCopun_DiscountRate">میزان تخفیف کوپن<code>*</code></label>
                                        <input type="text" name="Copun_DiscountRate" class="form-control" pattern="[0-9]{1,}" id="inputCopun_DiscountRate" required>
                                        <small class="smallhelp">اگر نوع تخفیف را به صورت درصدی قرار داده اید، باید عددی از 1 تا 100 را اینجا وارد نمایید.</small>
                                        <br>
                                        <small class="smallhelp">اگر نوع تخفیف را به صورت اعتباری قرار داده اید، باید عدد وارد شده از 10000 ریال به بالا باشد.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                    <label for="inputCopun_MinimumAmount">حداقل میزان خرید</label>
                                        <input type="text" name="Copun_MinimumAmount" class="form-control" pattern="[0-9]{5,}" id="inputCopun_MinimumAmount">
                                        <small class="smallhelp">اگر می خواهید کوپن شما دارای شرط حداقل خرید توسط خریدار باشد، مقدار مدنظر خود را اینجا وارد نمایید، در غیر اینصورت این بخش را خالی بگذارید.</small>
                                    </div>

                                    <div class="form-group col-md-6">
                                    <label for="inputCopun_MaximumAmount">حداکثر میزان خرید</label>
                                        <input type="text" name="Copun_MaximumAmount" class="form-control" pattern="[0-9]{5,}" id="inputCopun_MaximumAmount">
                                        <small class="smallhelp">اگر می خواهید کوپن شما دارای شرط حداکثر خرید توسط خریدار باشد، مقدار مدنظر خود را اینجا وارد نمایید، در غیر اینصورت این بخش را خالی بگذارید.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                    <label for="inputCopun_NumberOfUse">میزان دفعات مجاز استفاده از کوپن<code>*</code></label>
                                        <input type="text" name="Copun_NumberOfUse" class="form-control" value="1" pattern="[0-9]{1,}" id="inputCopun_NumberOfUse" required>
                                        <small class="smallhelp">تعداد دفعاتی که هر فرد می تواند از کوپن شما استفاده کند را می توانید اینجا وارد نمایید.</small>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary mr-auto" id="send-left">ثبت کوپن</button>
                                <div class="clearfix"></div>
                                </div>   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% block footer-section %}
    {% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}

{% block footer %}
    {% include "nakhll_market/parents/footersite.html" %}
{% endblock %}