{% load jformat %}
{% load i18n static %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}


    <title>بازار نخل | فاکتور ها</title>
</head>


{% block headertag %}
{% include "nakhll_market/parents/new-headertag-section.html" %}
{% endblock %}


{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}




<section id="bg-profile-top">

</section>

<section id="profile-sec">
    <div class="container">
        <div class="row">

            <div class="col-xl-3">

                <div class="profile-sidebar-site">    
                    {% block topsidebar %}
                        {% include "nakhll_market/profile/parents/new-topsidebar.html" %}
                    {% endblock %}
                    <div class="profile-sidebar-main">
                        <a href="/profile/dashboard/">
                            <button>
                                <i class="fas fa-id-badge"></i>
                                <h5>داشبورد</h5>
                            </button>
                        </a>

                        <a href="/profile/transaction/">
                            <button>
                                <i class="fad fa-clipboard-list"></i>
                            <h5>تراکنش ها</h5>
                            </button>
                        </a>

                        <a href="/profile/factor/">
                            <button class="activebtn">
                                <i class="fas fa-file-invoice-dollar"></i>
                                <h5>فاکتور ها</h5>
                            </button>
                        </a>

                        <a href="/profile/ticketing/">
                            <button>
                                <i class="fad fa-user-headset"></i>
                                <h5>پشتیبانی</h5>
                            </button>
                        </a>

                        <a href="/profile/shops/">
                            <button>
                                <i class="fas fa-store"></i>
                                <h5>مدیریت حجره</h5>
                            </button>
                        </a>

                        <a href="/profile/review/">
                            <button>
                                <i class="fad fa-comments-alt"></i>
                                <h5>نقد ها و نظرات</h5>
                            </button>
                        </a>

                        {% if request.user.is_staff %}
                            {% block review %}
                                {% include "nakhll_market/profile/parents/menu_for_shop_manage.html" %}
                            {% endblock %}
                        {% endif %}
                    </div>
                </div>
            </div>



            <div class="col-xl-9">
                {% block header-profile %}
                    {% include "nakhll_market/profile/parents/new-header-profile.html" %}
                {% endblock %}

                <div class="alarm-section">
                    <div class="row">
                        {% if ShowAlart %}
                        <div class="col-xl-12 xol-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="alert alert-warning alert-dismissible fade show custom-alart" role="alert">
                                <i class="far fa-exclamation-circle"></i><strong>اطلاعیه</strong>
                                <p>
                                    {{AlartMessage}}
                                </p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12">
                        <div class="factor-profile">
                            {% if request.user.is_staff %}<a class="btn btn-primary btn-all btn-left" href="all/">لیست فاکتور ها</a>{% endif %}
                            <h4>خرید های من</h4>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                    <th>شماره فاکتور</th>
                                    <th>مبلغ</th>
                                    <th>تاریخ خرید</th>
                                    <th>وضعیت پرداخت</th>
                                    <th>وضعیت سفارش</th>
                                    <th>وضعیت</th>
                                    <th>نمایش</th>
                                    </tr>
                                </thead>
                                <tbody class="code">
                                    {% for factor in This_User_Factor %}
                                        <tr>
                                            <td class="pointer">{{factor.FactorNumber}}</td>
                                            <td><span class="numbersprice">{{factor.TotalPrice}}</span> ریال</td>
                                            <td>{{factor.OrderDate|jformat:'%H:%M - %Y/%m/%d'}}</td>
                                            <td>{% if factor.PaymentStatus == True %}پرداخت شده{% else %}پرداخت نشده{% endif %}</td>
                                            {% if factor.OrderStatus == '0' %}
                                                <td>سفارش تحویل داده شده است</td>
                                            {% elif factor.OrderStatus == '1' %}
                                                <td>سفارش آماده است</td>
                                            {% elif factor.OrderStatus == '2' %}
                                                <td> در حال آماده سازی </td>
                                            {% elif factor.OrderStatus == '3' %}
                                                <td>در حال بررسی</td>
                                            {% elif factor.OrderStatus == '4' %}
                                                <td>سفارش لغو شده است</td>
                                            {% elif factor.OrderStatus == '5' %}
                                                <td>سفارش ارسال شده است</td>
                                            {% endif %}
                                            <td>{% if factor.Publish == True %}تایید شده{% else %}تایید نشده{% endif %}</td>
                                            <td class="pointer"><a href="{% url "nakhll_market:ShowFactorItem" factor.ID %}" target="_blank"><i class="fad fa-eye"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% if This_User_Profile.is_user_shoper %}
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12">
                            <div class="factor-profile">
                                <h4>سفارشات تایید نشده حجره</h4>

                                <table class="table">

                                    <thead class="thead-light">
                                        <tr>
                                        <th>شماره فاکتور</th>
                                        <th>تاریخ خرید</th>
                                        <th>وضعیت فاکتور</th>
                                        <th>نمایش</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for factor in ShopFactors %}
                                            <tr>
                                                <td>{{factor.FactorNumber}}</td>
                                                <td>{{factor.OrderDate|jformat:'%Y/%m/%d'}}</td>
                                                {% if factor.OrderStatus == '0' %}
                                                    <td>سفارش تحویل داده شده است</td>
                                                {% elif factor.OrderStatus == '1' %}
                                                    <td>سفارش آماده است</td>
                                                {% elif factor.OrderStatus == '2' %}
                                                    <td>سفارش در حال آماده سازی است</td>
                                                {% elif factor.OrderStatus == '3' %}
                                                    <td>در حال بررسی</td>
                                                {% elif factor.OrderStatus == '4' %}
                                                    <td>سفارش لغو شده است</td>
                                                {% elif factor.OrderStatus == '5' %}
                                                    <td>سفارش ارسال شده است</td>
                                                {% endif %}
                                                <td class="pointer"><a href="{% url "nakhll_market:ShowFactorItemForShop" factor.ID  0 %}" target="_blank"><i class="fad fa-eye"></i></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                    
                        </div>
                    </div>


                    
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12">
                            <div class="factor-profile">
                                <h4>سفارشات در حال آماده سازی حجره</h4>

                                <table class="table">

                                    <thead class="thead-light">
                                        <tr>
                                        <th>شماره فاکتور</th>
                                        <th>تاریخ خرید</th>
                                        <th>وضعیت فاکتور</th>
                                        <th>نمایش</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for factor in ShopRedyFactors %}
                                            <tr>
                                                <td>{{factor.FactorNumber}}</td>
                                                <td>{{factor.OrderDate|jformat:'%Y/%m/%d'}}</td>
                                                {% if factor.OrderStatus == '0' %}
                                                    <td>سفارش تحویل داده شده است</td>
                                                {% elif factor.OrderStatus == '1' %}
                                                    <td>سفارش آماده است</td>
                                                {% elif factor.OrderStatus == '2' %}
                                                    <td>سفارش در حال آماده سازی است</td>
                                                {% elif factor.OrderStatus == '3' %}
                                                    <td>در حال بررسی</td>
                                                {% elif factor.OrderStatus == '4' %}
                                                    <td>سفارش لغو شده است</td>
                                                {% elif factor.OrderStatus == '5' %}
                                                    <td>سفارش ارسال شده است</td>
                                                {% endif %}
                                                <td class="pointer"><a href="{% url "nakhll_market:ShowFactorItemForShop" factor.ID  1 %}" target="_blank"><i class="fad fa-eye"></i></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                    
                        </div>
                    </div>



                    <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12">
                                <div class="factor-profile">
                                    <h4>سفارشات ارسال حجره</h4>
    
                                    <table class="table">
    
                                        <thead class="thead-light">
                                            <tr>
                                            <th>شماره فاکتور</th>
                                            <!-- <th>مبلغ</th> -->
                                            <th>تاریخ خرید</th>
                                            <!-- <th>وضعیت پرداخت</th> -->
                                            <th>وضعیت فاکتور</th>
                                            <th>نمایش</th>
                                            </tr>
                                        </thead>
    
                                        <tbody>
                                            {% for factor in ShopSendFactors %}
                                                <tr>
                                                    <td>{{factor.FactorNumber}}</td>
                                                    <td>{{factor.OrderDate|jformat:'%Y/%m/%d'}}</td>
                                                    {% if factor.OrderStatus == '0' %}
                                                        <td>سفارش تحویل داده شده است</td>
                                                    {% elif factor.OrderStatus == '1' %}
                                                        <td>سفارش آماده است</td>
                                                    {% elif factor.OrderStatus == '2' %}
                                                        <td>سفارش در حال آماده سازی است</td>
                                                    {% elif factor.OrderStatus == '3' %}
                                                        <td>در حال بررسی</td>
                                                    {% elif factor.OrderStatus == '4' %}
                                                        <td>سفارش لغو شده است</td>
                                                    {% elif factor.OrderStatus == '5' %}
                                                        <td>سفارش ارسال شده است</td>
                                                    {% endif %}
                                                    <td class="pointer"><a href="{% url "nakhll_market:ShowFactorItemForShop" factor.ID  2 %}" target="_blank"><i class="fad fa-eye"></i></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
    
                                    </table>
                                </div>
                        
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12">
                                <div class="factor-profile">
                                    <h4>سفارشات لغو شده حجره</h4>

                                    <table class="table">
    
                                        <thead class="thead-light">
                                            <tr>
                                            <th>شماره فاکتور</th>
                                            <th>تاریخ خرید</th>
                                            <th>وضعیت فاکتور</th>
                                            <th>نمایش</th>
                                            </tr>
                                        </thead>
    
                                        <tbody>
                                            {% for factor in ShopCanselFactors %}
                                                <tr>
                                                    <td>{{factor.FactorNumber}}</td>
                                                    <td>{{factor.OrderDate|jformat:'%Y/%m/%d'}}</td>
                                                    {% if factor.OrderStatus == '0' %}
                                                        <td>سفارش تحویل داده شده است</td>
                                                    {% elif factor.OrderStatus == '1' %}
                                                        <td>سفارش آماده است</td>
                                                    {% elif factor.OrderStatus == '2' %}
                                                        <td>سفارش در حال آماده سازی است</td>
                                                    {% elif factor.OrderStatus == '3' %}
                                                        <td>در حال بررسی</td>
                                                    {% elif factor.OrderStatus == '4' %}
                                                        <td>سفارش لغو شده است</td>
                                                    {% elif factor.OrderStatus == '5' %}
                                                        <td>سفارش ارسال شده است</td>
                                                    {% endif %}
                                                    <td class="pointer"><a href="{% url "nakhll_market:ShowFactorItemForShop" factor.ID  2 %}" target="_blank"><i class="fad fa-eye"></i></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% block footer-section %}
{% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}

{% block footer %}
{% include "nakhll_market/parents/footersite.html" %}
{% endblock %}