{% extends "nakhll_market/management/base_management.html" %}
{% load jformat %}
{% load analytical %}

{% block dashboard %}
<div class="order-profile">
    <h4>لیست تمام تراکنش ها</h4>
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th>مبلغ</th>
            <th>توضیحات</th>
            <th>تاریخ</th>
            <th>نوع</th>
            </tr>
        </thead>
        <tbody>
            {% for item in Transactions %}
                <tr>
                    <td><span class="numbersprice">{{item.Price}}</span> ریال</td>
                    <td>{{item.Description}}</td>
                    <td>{{item.Date|jformat:'%Y/%m/%d'}}</td>
                    <td>{{ item.get_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock dashboard %}