{% extends "nakhll_market/management/base_management.html" %}
{% load jformat %}
{% load analytical %}

{% block dashboard %}
<div class="dashboard">
    <h4>ایجاد کاربر جدید</h4>
    <br>

    <form  method="POST" action="">
        {% csrf_token %}

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputUserFirstName">نام<code>*</code></label>
                <input type="text" name="User_FirstName" class="form-control" id="inputUserFirstName" value="{{User_FirstName}}" required>
            </div>

            <div class="form-group col-md-6">
                <label for="inputUserLastName">نام خانوادگی<code>*</code></label>
                <input type="text" name="User_LastName" class="form-control" id="inputUserLastName" value="{{User_LastName}}"required>
            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputUserNationalCode">کد ملی<code>*</code></label>
                <input type="text" name="User_NationalCode" class="form-control" id="inputUserNationalCode" pattern="[0-9]{10,10}" value="{{User_NationalCode}}" required>
                <small>کد ملی باید <span class="Riyal">10</span> رقم باشد.</small>
            </div>

            <div class="form-group col-md-6">
                <label for="inputUserMobileNumber">شماره موبایل<code>*</code></label>
                <input type="text" name="User_MobileNumber" class="form-control" id="inputUserMobileNumber" pattern="[0-9]{11,11}" value="{{User_MobileNumber}}" required>
                <small>شماره موبایل باید <span class="Riyal">11</span> رقم باشد.</small>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAmount">میزان شارژ کیف پول کاربر</label>
                <input type="text" name="User_Amount" class="form-control" id="inputAmount" pattern="[0-9]{4,}" value="{{User_Amount}}"> 
                <small>حداقل میزان شارژ حساب کاربر <span class="Riyal">10000</span> ریال می باشد.</small>
                <br>
                <small>در صورتی که نمی خواهید حساب کاربر را شارژ نمایید، این فیلد را خالی بگذارید.</small>
            </div>

            <div class="form-group col-md-6">
                <label for="inputUserStatus">وضعیت کاربر</label>
                <select class="custom-select factor-profile-custom-select" name="status" id="inputUserStatus">
                    {% if status %}
                        <option value="0">کاربر معمولی</option>
                        <option value="1" selected>حجره دار</option>
                    {% else %}
                        <option value="0" selected>کاربر معمولی</option>
                        <option value="1">حجره دار</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mr-auto">ثبت کاربر</button>
    </form>

</div>
{% endblock %}