{% extends "nakhll_market/management/base_management.html" %}
{% load jformat %}
{% load analytical %}

{% block dashboard %}
<div class="dashboard"> 
    <h4>افزودن ویژگی محصول</h4> 

    <form id="attr-form" method="POST" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFK_Attribute">عنوان ویژگی</label>
                <select id="inputFK_Attribute" name="Attribute_Title" class="form-control" request>
                    {% for attr in Attributes %}
                        <option>{{attr.Title}}|{{attr.Unit}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputValueAttr">مقدار ویژگی</label>
                <input type="text" name="Attribute_Value" class="form-control" id="inputValueAttr" required>
            </div>
        </div>

        <a class="btn btn-primary btn-all btn-left right-buttom" href="{% url "nakhll_market:Show_Product_Info" Product.Slug %}">بازگشت</a>

        <button type="submit" class="btn btn-primary mr-auto" id="send-left" name="add-attr">ذخیره و ثبت ویژگی دیگر</button>
        <div class="clearfix"></div>
    </form>

</div>
{% endblock dashboard %}