{% extends "nakhll_market/management/base_management.html" %}
{% load jformat %}
{% load analytical %}

{% block dashboard %}
<div class="dashboard"> 
    <h4>افزودن ارزش ویژگی محصول</h4> 

    <form id="attr-form" method="POST" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFK_Attribute">عنوان ویژگی<code>*</code></label>
                <input type="text" name="AttributePrice_Value" class="form-control" id="inputValueAttr" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputValueAttr">میزان افزایش قیمت<code>*</code></label>
                <input type="text" name="AttributePrice_Exp" pattern="[0-9]+" class="form-control" id="inputValueAttr" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputValueAttr">واحد<code>*</code></label>
                <input type="text" name="AttributePrice_Unit" class="form-control" id="inputValueAttr" required>
                <p><small class="smallhelp">اگر ویژگی شما واحد ندارد به جای آن " - " بگذارید!</small></p>
            </div>
            <div class="form-group col-md-8">
                <label for="inputValueAttr">توضیحات</label>
                <textarea type="text" name="AttributePrice_Des" class="form-control" id="inputValueAttr" rows="1"></textarea>
            </div>
        </div>

        <a class="btn btn-primary btn-all btn-left right-buttom" href="{% url "nakhll_market:Show_Product_Info" Product.Slug %}">بازگشت</a>

        <button type="submit" class="btn btn-primary mr-auto" id="send-left" name="add-attr">ذخیره و ثبت ارزش ویژگی دیگر</button>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
{% endblock dashboard %}