{% extends "nakhll_market/management/base_management.html" %}
{% load i18n static %}
{% load jformat %}

{% block dashboard %}
<div class="dashboard"> 
    <h4>ثبت حجره کاربر</h4> 

    <form id="new-shop-form" method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="inputshop_title">عنوان حجره <code>*</code></label>
                <input type="text" name="Shop_Title" class="form-control" id="inputshop_title" minlength="2" maxlength="100" required>
                <small>عنوان باید فارسی و <span class="Riyal">حداکثر 100 کاراکتر</span> باشد.</small>
            </div>

            <div class="form-group col-md-6">
            <label for="inputslugshop">شناسه حجره <code>*</code></label>
                <input type="text" name="Shop_Slug" class="form-control" id="inputslugshop" pattern="[a-z0-9\-_]{2,}" required>
                <small>شناسه محصول باید شامل <span class="Riyal">حروف انگلیسی کوچک</span>، <span class="Riyal">خط تیره ("_" یا "-")</span> و <span class="Riyal">بدون فاصله</span> باشد.</small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputSubMarket">راسته حجره <code>*</code></label>
                <select data-placeholder="انتخاب راسته" multiple class="chosen-select-rtl form-control" name="Shop_SubMarket" tabindex="14">
                    {% for submarket in SubMarkets %}
                        <option>{{submarket.Title}}</option>
                    {% endfor %}
                </select>
                <small>حجره شما در کدام راسته ها قرار می گیرد؟</small>                                
            </div>
        </div>

        <button type="submit" class="btn btn-primary mr-auto" id="send-left">ادامه</button>
        <div class="clearfix"></div>
    </form>

</div>
{% endblock %}
