{% extends "nakhll_market/management/base_management.html" %}
{% load i18n static %}
{% load jformat %}

{% block dashboard %}
<div class="dashboard"> 
    <h4>اطلاعات حساب</h4>  

    <form id="new-prod-form" method="POST" enctype="multipart/form-data" action="{% url "nakhll_market:Add_Bank_Account" ThisUser.id %}">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="AccountOwnerBuilder">نام و نام خانوادگی صاحب حساب <code>*</code></label>
                <input type="text" name="Shop_AccountOwner" class="form-control" id="AccountOwner" {% if Account != None %}value="{{Account.AccountOwner}}"{% endif %}>
            </div>   
        </div>          
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="CreditCardNumberBuilder">شماره کارت <code>*</code></label>
                <input type="text" name="Shop_CreditCardNumber" class="form-control" id="CreditCardNumber" pattern="[0-9]{16,16}" {% if Account != None %}value="{{Account.CreditCardNumber}}"{% endif %}>
                <small class="smallhelp">شماره کارت خود را به صورت اعداد و بدون فاصله، "-" یا "_" وارد کنید.</small>
                <br>
                <small class="smallhelp">طول شماره کارت وارد شده باید 16 رقم باشد.</small>
            </div>

            <div class="form-group col-md-6">
                <label for="ShabaBankNumberBuilder">شماره شبا <code>*</code></label>
                <div class="input-group mb-2 formshaba">
                    <div class="input-group-prepend">
                        <input type="text" name="Shop_ShabaBankNumber" class="form-control" id="ShabaBankNumber" pattern="[0-9]{24,24}" {% if Account != None %}value="{{Account.ShabaBankNumber}}"{% endif %}>
                        <div class="input-group-text">IR</div> 
                    </div>
                    <small class="smallhelp">شماره شبا خود را به صورت اعداد و بدون فاصله وارد کنید.</small>
                    <br>
                    <small class="smallhelp">طول شماره شبا وارد شده باید 24 رقم باشد.</small>
                </div>       
            </div>
        <button type="submit" class="btn btn-primary mr-auto" id="send-left">ثبت</button>
        <div class="clearfix"></div>
    </form>
</div>
{% endblock dashboard %}