{% load jformat %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}


<title>بازار نخل | ویرایش محصول {{Product.Title}}</title>
</head>


{% block headertag %}
{% include "nakhll_market/parents/headertag-section.html" %}
{% endblock %}


{% block headersection %}
{% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}




<section id="bg-profile-top">

</section>

<section id="profile-sec">
    <div class="container">
        <div class="row">

            <div class="col-xl-3">

                <div class="profile-sidebar-site">
                    {% block topsidebar %}
                    {% include "nakhll_market/profile/parents/topsidebar.html" %}
                    {% endblock %}
                    <div class="profile-sidebar-main">

                        <a href="/profile/dashboard/">
                            <button>
                                <i class="fas fa-id-badge"></i>
                                <h5>داشبورد</h5>
                            </button>
                        </a>

                        <a href="/profile/transaction/">
                            <button>
                                <i class="fad fa-clipboard-list"></i>
                                <h5>تراکنش ها</h5>
                            </button>
                        </a>

                        <a href="/profile/factor/">
                            <button>
                                <i class="fas fa-file-invoice-dollar"></i>
                                <h5>فاکتور ها</h5>
                            </button>
                        </a>

                        <a href="/profile/ticketing/">
                            <button>
                                <i class="fad fa-user-headset"></i>
                                <h5>پشتیبانی</h5>
                            </button>
                        </a>

                        <a href="/profile/shops/">
                            <button>
                                <i class="fas fa-store"></i>
                                <h5>مدیریت حجره</h5>
                            </button>
                        </a>

                        <a href="/profile/review/">
                            <button>
                                <i class="fad fa-comments-alt"></i>
                                <h5>نقد ها و نظرات</h5>
                            </button>
                        </a>

                        {% if request.user.is_staff %}
                            {% block review %}
                                {% include "nakhll_market/profile/parents/menu_for_manage_data.html" %}
                            {% endblock %}
                        {% endif %}

                    </div>
                </div>

            </div>



            <div class="col-xl-9">
                {% block header-profile %}
                {% include "nakhll_market/profile/parents/header-profile.html" %}
                {% endblock %}

                {% if ShowAlart %}
                <div class="col-xl-6 xol-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="alert alert-warning alert-dismissible fade show custom-alart" role="alert">
                        <i class="far fa-exclamation-circle"></i><strong>اطلاعیه</strong>
                        <p>
                            {{AlartMessage}}
                        </p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12">
                        <div class="dashboard">
                            <h4>ویرایش محصول</h4>

                            <form id="new-prod-form" method="POST" enctype="multipart/form-data" action="">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-row form-row-child">
                                        <div class="form-group col-md-6">
                                            <div id="msg"></div>
                                            <label for="file">عکس محصول</label>
                                            <input type="file" name="Product_Image" class="file" accept="image/*">
                                            <div class="input-group">
                                                <input type="text" class="form-control input" disabled
                                                    placeholder="آپلود عکس" id="file">
                                                <div class="input-group-append">
                                                    <button type="button" class="browse btn btn-primary">بارگذاری</button>
                                                </div>
                                            </div>
                                            <br>
                                            <img src="{{Product.Image_thumbnail_url}}" id="preview" class="img-thumbnail" width="175" height="175">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputprod_title">عنوان محصول</label>
                                        <input type="text" name="prod_title" value="{{Product.Title}}" class="form-control" id="inputprod_title" minlength="2" maxlength="200" required>
                                        <small>عنوان باید فارسی و <span class="Riyal">حداکثر 200 کاراکتر</span> باشد.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputProdDes">درباره محصول</label>
                                        <textarea name="ProdDes" class="form-control" id="inputProdDes"
                                            rows="2">{{Product.Description}}</textarea>
                                        <small>محصول خود را به صورت کامل معرفی نمایید.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCat">دسته بندی محصول</label>
                                        <select data-placeholder="انتخاب دسته بندی" multiple
                                            class="chosen-select-rtl form-control" name="ProdCat" tabindex="14">
                                            {% for shop in Categort %}
                                            <option value="{{shop.Category.id}}" {% if shop.Status %}selected{% endif %}>
                                                {{shop.Category.Title}}</option>
                                            {% endfor %}
                                        </select>
                                        <small>محصول شما شامل کدام دسته بندی ها می باشد؟</small>
                                        <br>
                                        <small>در صورتی که دسته بندی مورد نظر شما موجود نبود، این موضوع رو از طریق <a
                                                href="/profile/ticketing/"><span class="Riyal"
                                                    title="پشتیبانی بازار آنلاین نخل">پشتبانی</span></a> سایت پیگیری
                                            نمایید.</small>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputSubMarket">راسته محصول</label>
                                        <select id="inputSubMarket" name="ProdSub" class="form-control">
                                            {% for shop in SubMarket %}
                                            {% if shop.ID == Product.FK_SubMarket_id %}
                                            <option value="{{shop.ID}}" selected>{{shop.Title}}</option>
                                            {% else %}
                                            <option value="{{shop.ID}}">{{shop.Title}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        <small>محصول شما در کدام راسته قرار می گیرد؟</small>
                                        <br>
                                        <small>در صورتی که راسته مورد نظر شما موجود نبود، این موضوع رو از طریق <a
                                                href="/profile/ticketing/"><span class="Riyal"
                                                    title="پشتیبانی بازار آنلاین نخل">پشتبانی</span></a> سایت پیگیری
                                            نمایید.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputProdBio">معرفی محصول</label>
                                        <textarea name="ProdBio" class="form-control" value="{{Product.Bio}}"
                                            id="inputProdBio" maxlength="250" rows="1">{{Product.Bio}}</textarea>
                                        <small>معرفی مختصری از محصول خود تا <span class="Riyal">حداکثر 250
                                                کاراکتر</span> وارد نمایید.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputProdStory">داستان محصول</label>
                                        <textarea name="ProdStory" class="form-control" value="{{Product.Story}}"
                                            id="inputProdStory" rows="2">{{Product.Story}}</textarea>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputprod_title">قیمت فروش محصول</label>
                                        <input type="text" name="prod_Price" value="{{Product.Price}}"
                                            pattern="[0-9]{5,}" class="form-control" id="inputprod_title" required>
                                        <small>قیمت را به <span class="Riyal">ریال</span> وارد نمایید.</small>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputslugProd">قیمت واقعی</label>
                                        <input type="text" name="Prodoldprice" {% if Product.OldPrice != '0' %}value="{{Product.OldPrice}}"{% endif %}
                                            pattern="[0-9]{5,}" class="form-control" id="inputslugProd">
                                        <small>در صورت در نظر گرفتن تخفیف برای محصول، قیمت اصلی محصول را اینجا وارد
                                            نمایید.</small>
                                        <br>
                                        <small>قیمت را به <span class="Riyal">ریال</span> وارد نمایید.</small>
                                    </div>
                                </div>

                                <h6>وزن محصول</h6>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                    <label for="input_netweight">وزن خالص محصول <code>*</code></label>
                                        <input type="text" value="{{Product.Net_Weight}}" name="product_netweight" class="form-control" pattern="[0-9]{1,6}" id="input_netweight" required>
                                        <small>وزن خالص محصول را به صورت <span class="Riyal">گرم</span> وارد نمایید.</small>
                                    </div>
    
                                    <div class="form-group col-md-6">
                                    <label for="input_packingweight">وزن محصول با بسته بندی <code>*</code></label>
                                        <input type="text" value="{{Product.Weight_With_Packing}}" name="product_packingweight" class="form-control" pattern="[0-9]{1,6}" id="input_packingweight" required>
                                        <small>وزن بسته بندی محصول را به صورت <span class="Riyal">گرم</span> وارد نمایید.</small>
                                    </div>
                                </div>
    
                                <h6>ابعاد محصول</h6>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                    <label for="input_lengthwithpackaging">طول بسته بندی محصول <code>*</code></label>
                                        <input type="text" value="{{Product.Length_With_Packaging}}" name="product_lengthwithpackaging" class="form-control" pattern="[0-9]{1,4}" id="input_lengthwithpackaging" required>
                                        <small>طول بسته بندی محصول را به صورت <span class="Riyal">سانتی متر</span> وارد نمایید.</small>
                                    </div>
    
                                    <div class="form-group col-md-4">
                                    <label for="input_widthwithpackaging">عرض بسته بندی محصول <code>*</code></label>
                                        <input type="text" value="{{Product.Width_With_Packaging}}" name="product_widthwithpackaging" class="form-control" pattern="[0-9]{1,4}" id="input_widthwithpackaging" required>
                                        <small>عرض بسته بندی محصول را به صورت <span class="Riyal">سانتی متر</span> وارد نمایید.</small>
                                    </div>
    
                                    <div class="form-group col-md-4">
                                    <label for="input_heightwithpackaging">ارتفاع بسته بندی محصول <code>*</code></label>
                                        <input type="text" value="{{Product.Height_With_Packaging}}" name="product_heightwithpackaging" class="form-control" pattern="[0-9]{1,4}" id="input_heightwithpackaging" required>
                                        <small>ارتفاع بسته بندی محصول را به صورت <span class="Riyal">سانتی متر</span> وارد نمایید.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="PostRangeType">محدوده ارسال</label>
                                        <select id="PostRangeType" name="ProdRange" class="form-control">
                                            {% if Product.PostRangeType == '1' %}
                                            <option selected>سراسر کشور</option>
                                            <option>استانی</option>
                                            <option>شهرستانی</option>
                                            <option>شهری</option>
                                            {% elif Product.PostRangeType == '2' %}
                                            <option>سراسر کشور</option>
                                            <option selected>استانی</option>
                                            <option>شهرستانی</option>
                                            <option>شهری</option>
                                            {% elif Product.PostRangeType == '3' %}
                                            <option>سراسر کشور</option>
                                            <option>استانی</option>
                                            <option selected>شهرستانی</option>
                                            <option>شهری</option>
                                            {% elif Product.PostRangeType == '4' %}
                                            <option>سراسر کشور</option>
                                            <option>استانی</option>
                                            <option>شهرستانی</option>
                                            <option selected>شهری</option>
                                            {% endif %}
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="PostRangeType">وضعیت محصول</label>
                                        <select id="PostRangeType" name="ProdPostType" class="form-control">
                                            {% if Product.Status == '1' %}
                                            <option selected>آماده در انبار</option>
                                            <option>تولید بعد از سفارش</option>
                                            <option>سفارشی سازی فروش</option>
                                            <option>موجود نیست</option>
                                            {% elif Product.Status == '2' %}
                                            <option>آماده در انبار</option>
                                            <option selected>تولید بعد از سفارش</option>
                                            <option>سفارشی سازی فروش</option>
                                            <option>موجود نیست</option>
                                            {% elif Product.Status == '3' %}
                                            <option>آماده در انبار</option>
                                            <option>تولید بعد از سفارش</option>
                                            <option selected>سفارشی سازی فروش</option>
                                            <option>موجود نیست</option>
                                            {% elif Product.Status == '4' %}
                                            <option>آماده در انبار</option>
                                            <option>تولید بعد از سفارش</option>
                                            <option>سفارشی سازی فروش</option>
                                            <option selected>موجود نیست</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputPostRange">انتخاب محدوده ارسال محصول</label>
                                        <select data-placeholder="محدوده ارسال محصول" multiple
                                            class="chosen-select-rtl form-control" id="inputPostRange" name="PostRange"
                                            tabindex="14">
                                            {% for item in ProPostRange %}
                                            <option value="{{item.PostRange.id}}"
                                                {% if item.Status %}selected{% else %}{% endif %}>{{item.PostRange}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <small class="smallhelp">منظور از محدوده ارسال محصول، استان،شهرستان یا شهر هایی
                                            است که شما می توانید محصول خود را به آنجا ارسال نمایید.</small>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputPostRange">انتخاب استثناء محدوده ارسال محصول</label>
                                        <select data-placeholder="استثناء های محدوده ارسال محصول" multiple
                                            class="chosen-select-rtl form-control" id="inputPostRange"
                                            name="ExePostRange" tabindex="14">
                                            {% for item in ProExePostRange %}
                                            <option value="{{item.ExePostRange.id}}"
                                                {% if item.Status %}selected{% else %}{% endif %}>{{item.ExePostRange}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <small class="smallhelp">منظور از استثناء محدوده ارسال محصول، استان،شهرستان یا
                                            شهر هایی که شما نمی توانید محصول خود را به آنجا ارسال نمایید.</small>
                                        <br>
                                        <small class="smallhelp">به عنوان مثال :</small>
                                        <ul class="NotePostRange">
                                            <li>
                                                <span>اگر می خواهید به کل کشور محصول خود را ارسال نمایید :</span>
                                                <br>
                                                <span>محدوده ارسال را برابر سراسر کشور قرار دهید.</span>
                                            </li>
                                            <br>
                                            <li>
                                                <span>اگر می خواهید به کل کشور به غیر از استان کرمان محصول خود را ارسال
                                                    نمایید :</span>
                                                <br>
                                                <span>محدوده ارسال را برابر استانی قرار دهید و در قسمت استثناء ارسال
                                                    استان کرمان را انتخاب نمایید.</span>
                                            </li>
                                            <br>
                                            <li>
                                                <span>اگر می خواهید به استان های کرمان و فارس به غیر از (شهرستان کرمان)
                                                    و (شهرستان فیروزآباد - شهر فیروزآباد) ارسال نمایید :</span>
                                                <br>
                                                <span>محدوده ارسال را برابر استانی قرار دهید و در قسمت محدوده ارسال
                                                    استان های کرمان و فارس و در قسمت استثناء ارسال (استان کرمان -
                                                    شهرستان کرمان) و (استان فارس - شهرستان فیروزآباد - شهر فیروزآباد) را
                                                    انتخاب نمایید.</span>
                                            </li>
                                            <br>
                                            <li>
                                                <span>اگر می خواهید فقط به شهرستان کرمان به غیر از (شهرستان کرمان - شهر
                                                    چترود) ارسال نمایید :</span>
                                                <br>
                                                <span>محدوده ارسال را برابر شهرستانی قرار دهید و در قسمت محدوده ارسال
                                                    (استان کرمان - شهرستان کرمان) و در قسمت استثناء ارسال (استان کرمان -
                                                    شهرستان کرمان - شهر چترود) را انتخاب نمایید.</span>
                                            </li>
                                            <br>
                                            <li>
                                                <span>اگر می خواهید فقط به شهر کرمان ارسال نکنید :</span>
                                                <br>
                                                <span>محدوده ارسال را برابر شهری قرار دهید و در قسمت محدوده ارسال (استان
                                                    کرمان - شهرستان کرمان) و در قسمت استثناء ارسال (استان کرمان -
                                                    شهرستان کرمان - شهر کرمان) را انتخاب نمایید.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br>

                                <button type="submit" class="btn btn-primary mr-auto" id="send-left">ثبت محصول</button>
                                <div class="clearfix"></div>

                        </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>


{% block footer-section %}
{% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}



{% block footer %}
{% include "nakhll_market/parents/footersite.html" %}
{% endblock %}