{% extends "nakhll_market/management/base_management.html" %}
{% load i18n static %}
{% load analytical %}
{% load jformat %}
{% load analytical %}


{% block dashboard %}
<div class="dashboard"> 
    <h4>ویرایش مشخصات {{User_Selected.first_name}} {{User_Selected.last_name}}</h4>

    <form method="POST" action="{% url "nakhll_market:Edit_User_Info" User_Selected.id %}">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputUserName">نام کاربری</label>
                    <input value="{{User_Selected.username}}" name="username" pattern="[a-z0-9A-Z_]{2,255}" class="form-control" id="inputUserName" required>
                </div>
            <div class="form-group col-md-4">
                <label for="inputNationalCode">کد ملی</label>
                <input id="inputNationalCode" class="form-control" name="nationalcode" pattern="[0-9]{10,10}" value="{{Profile_Selected.NationalCode}}" required>
            </div>

            <div class="form-group col-md-4">
                <label for="inputMobileNumber">شماره موبایل</label>
                <input value="{{Profile_Selected.MobileNumber}}" name="mobilenumber" pattern="[0-9]{11,11}" class="form-control" id="inputMobileNumber" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mr-auto" id="send-left">ذخیره اطلاعات</button>
        <div class="clearfix"></div>
    </form>

</div>
{% endblock dashboard %}