{% extends "nakhll_market/management/base_management.html" %}
{% load jformat %}

{% block dashboard %}
<div class="dashboard">
    <a class="btn btn-primary btn-all btn-left" href="{% url "nakhll_market:Edit_Full_Shop" ThisShop.ID None %}">ویرایش حجره</a>
    <a class="btn btn-primary btn-all btn-left" href="{% url "nakhll_market:Add_New_Shop_Product" ThisShop.ID None %}" style="margin: 0 10px 0 10px;">ایجاد محصول جدید</a>
    <a class="btn btn-primary btn-all btn-left" href="{% url "nakhll_market:Add_New_Shop_Banner" ThisShop.ID None %}">ایجاد بنر جدید</a>
    <h4>آمار کلی حجره {{ThisShop.Title}}</h4> 
    <br>
    <table class="table">

        <thead class="thead-light">
            <tr>
            <th>تعداد محصولات</th>
            <th>تعداد بنر ها</th>
            <th>تعداد کل سفارشات</th>
            <th>تعداد سفارشات ارسال شده</th>
            <th>امتیاز حجره</th>
            </tr>
        </thead>

        <tbody>
            <tr style="background-color: rgb(178, 241, 178)">
                <td>{{ThisShopProducts.count}}</td>
                <td>{{ThisShopBanners.count}}</td>
                <td>{{ThisShop_Sales_Count}}</td>
                <td>{{ThisShop_Sales_ISSend_Count}}</td>
                <td>{{ThisShop.Point}}</td>
            </tr>
        </tbody>

    </table>

    <br>
    <h4>مشخصات حجره</h4> 
    <br>

    <div class="row">

        <div class="form-group col-md-6">
            
            <div id="msg"></div>

                <label for="file">عکس حجره</label>
                
            <br>
            
            <img src="{{ThisShop.Image_thumbnail_url}}" id="preview" class="img-thumbnail" width="100" height="100">
                
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputshop_title">عنوان حجره</label>
            <fieldset disabled>
                <input type="text" value="{{ThisShop.Title}}" name="Shop_Title" class="form-control" id="inputshop_title">
            </fieldset>
        </div>

        
        <div class="form-group col-md-6">
            <label for="inputslugshop">شناسه حجره</label>
            <fieldset disabled>
                <input type="text" name="Shop_Slug" value="{{ThisShop.Slug}}" class="form-control" id="inputslugshop">
            </fieldset>
        </div>
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
        <label for="inputshopdes">درباره حجره</label>
            <fieldset disabled>
                <textarea class="form-control" name="Shop_Des" id="inputshopdes" rows="2">{{ThisShop.Description}}</textarea>
            </fieldset>
        </div>  
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputshopState">استان</label>
            <fieldset disabled>
                <input type="text" name="Shop_State" value="{{ThisShop.State}}" class="form-control" id="inputshopState">
            </fieldset>
        </div>

        <div class="form-group col-md-6">
        <label for="inputBigCityShop">شهرستان</label>
            <fieldset disabled>
                <input type="text" name="Shop_BigCity" value="{{ThisShop.BigCity}}" class="form-control" id="inputBigCityShop">
            </fieldset>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputCityShop">شهر</label>
            <fieldset disabled>
                <input type="text" name="Shop_City" value="{{ThisShop.City}}" class="form-control" id="inputCityShop">
            </fieldset>
        </div>

        <div class="form-group col-md-6">
            <label for="inputSubMarket">راسته حجره</label>
            <fieldset disabled>
                <select multiple class="chosen-select-rtl form-control" name="Shop_SubMarket" tabindex="14">
                    {% for item in SubMarkets %}
                        <option selected>{{item.Title}}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
        <label for="inputshopBio">معرفی حجره دار</label>
            <fieldset disabled>
                <textarea class="form-control" name="Shop_Bio" id="inputshopBio" rows="2" required>{{ThisShop.Bio}}</textarea>
            </fieldset>
        </div>  
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 weekcheck">
            <label for="inputHolidays">روز های تعطیل</label>
            <br>
            <div class="row form-check form-check-inline">
                <div class="custom-control custom-checkbox">
                    {% for week in Week %}
                        {% if week == '0' %}
                            <input type="checkbox" class="custom-control-input" id="SATCheck" name="SATCheck" value="0" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="SATCheck" name="SATCheck" value="0">
                        {% endif %}
                    {% endfor %}
                    <label class="custom-control-label" for="SATCheck">شنبه</label>
                </div>
                <div class="custom-control custom-checkbox">
                    {% for week in Week %}
                        {% if week == '1' %}
                            <input type="checkbox" class="custom-control-input" id="SUNCheck" name="SUNCheck" value="1" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="SUNCheck" name="SUNCheck" value="1">
                        {% endif %}
                    {% endfor %}
                    <label class="custom-control-label" for="SUNCheck">یک شنبه</label>
                </div>
                <div class="custom-control custom-checkbox">
                    {% for week in Week %}
                        {% if week == '2' %}
                            <input type="checkbox" class="custom-control-input" id="MONCheck" name="MONCheck" value="2" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="MONCheck" name="MONCheck" value="2">
                        {% endif %}
                    {% endfor %}
                    <label class="custom-control-label" for="MONCheck">دو شنبه</label>
                </div>
                <div class="custom-control custom-checkbox">
                    {% for week in Week %}
                        {% if week == '3' %}
                            <input type="checkbox" class="custom-control-input" id="TUECheck" name="TUECheck" value="3" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="TUECheck" name="TUECheck" value="3">
                        {% endif %}
                    {% endfor %}
                    <label class="custom-control-label" for="TUECheck">سه شنبه</label>
                </div>
                <div class="custom-control custom-checkbox">
                    {% for week in Week %}
                        {% if week == '4' %}
                            <input type="checkbox" class="custom-control-input" id="WEDCheck" name="WEDCheck" value="4" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="WEDCheck" name="WEDCheck" value="4">
                        {% endif %}
                    {% endfor %}
                    <label class="custom-control-label" for="WEDCheck">چهار شنبه</label>
                </div>
                <div class="custom-control custom-checkbox">
                    {% for week in Week %}
                        {% if week == '5' %}
                            <input type="checkbox" class="custom-control-input" id="THUCheck" name="THUCheck" value="5" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="THUCheck" name="THUCheck" value="5">
                        {% endif %}
                    {% endfor %}
                    <label class="custom-control-label" for="THUCheck">پنج شنبه</label>
                </div>
                <div class="custom-control custom-checkbox">
                    {% for week in Week %}
                        {% if week == '6' %}
                            <input type="checkbox" class="custom-control-input" id="FRICheck" name="FRICheck" value="6" checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="FRICheck" name="FRICheck" value="6">
                        {% endif %}
                    {% endfor %}
                    <label class="custom-control-label" for="FRICheck">جمعه</label>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h4>لیست محصولات حجره</h4> 
    <br>

    <table class="table">

        <thead class="thead-light">
            <tr>
            <th>عنوان</th>
            <th>قیمت</th>
            <th>تاریخ ایجاد</th>
            <th>امتیاز</th>
            <th>وضعیت نمایش</th>
            <th>وضعیت انتشار</th>
            <th>نمایش</th>
            </tr>
        </thead>

        <tbody>
            {% for item in ThisShopProducts %}
                <tr style="background-color: rgb(174, 228, 245)">
                    <td>{{item.Title}}</td>
                    <td><span class="numbersprice">{{item.Price}}</span> ریال</td>
                    <td>{{item.DateCreate|jformat:'%Y/%m/%d'}}</td>
                    <td>{{item.Point}}</td>
                    {% if item.Available %}
                        <td title="برای عدم نمایش این محصول کلیک کنید."><a href="{% url "nakhll_market:Change_Shop_Status" attribute='Available' id=item.ID %}"><p style="color: green">در حال نمایش</p></a></td>
                    {% else %}
                        <td title="برای نمایش این محصول کلیک کنید."><a href="{% url "nakhll_market:Change_Shop_Status" attribute='Available' id=item.ID %}"><p style="color: red">عدم نمایش</p></a></td>
                    {% endif %}
                    {% if item.Publish %}
                        <td title="برای عدم انتشار این محصول کلیک کنید."><a href="{% url "nakhll_market:Change_Shop_Status" attribute='Publish' id=item.ID %}"><p style="color: green">منتشر شده</p></a></td>
                    {% else %}
                        <td title="برای انتشار این محصول کلیک کنید."><a href="{% url "nakhll_market:Change_Shop_Status" attribute='Publish' id=item.ID %}"><p style="color: red">منتشر نشده</p></a></td>
                    {% endif %}
                    <td title="برای مشاهده اطلاعات محصول کلیک کنید." class="pointer"><a href="{% url "nakhll_market:Show_Product_Info" item.Slug %}"><i class="fad fa-eye"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% if ThisShopBanners.count != 0 %}
        <br>
        <h4>بنر های حجره</h4> 
        <br>

        <table class="table">

            <thead class="thead-light">
                <tr>
                <th>عنوان</th>
                <th>توضیحات</th>
                <th>سازنده</th>
                <th>لینک سازنده</th>
                <th>تاریخ ثبت</th>
                <th>وضعیت نمایش</th>
                <th>وضعیت انتشار</th>
                <th>نمایش</th>
                </tr>
            </thead>

            <tbody>
                
                {% for item in ThisShopBanners %}
                    <tr style="background-color: rgb(247, 188, 140)">
                        <td>{{item.Title}}</td>
                        <td>{{item.Description}}</td>
                        <td>{{item.BannerBuilder}}</td>
                        <td class="pointer"><a href="{{item.BannerURL}}" target="/blank"><i class="fad fa-link"></i></a></td>
                        <td>{{item.DateCreate|jformat:'%Y/%m/%d'}}</td>
                        {% if item.Available %}
                            <td title="برای عدم نمایش بنر کلیک نمایید."><a href="{% url "nakhll_market:Change_Shop_Banner_Seen_Status" item.id %}"><p style="color: green">در حال نمایش</p></a></td>
                        {% else %}
                            <td title="برای نمایش بنر کلیک نمایید."><a href="{% url "nakhll_market:Change_Shop_Banner_Seen_Status" item.id %}"><p style="color: red">عدم نمایش</p></a></td>
                        {% endif %}
                        {% if item.Publish %}
                            <td title="برای غیر فعال کردن بنر کلیک نمایید."><a href="{% url "nakhll_market:Change_Shop_Banner_Publish_Status" item.id %}"><p style="color: green">منتشر شده</p></a></td>
                        {% else %}
                            <td title="برای فعال کردن بنر کلیک نمایید."><a href="{% url "nakhll_market:Change_Shop_Banner_Publish_Status" item.id %}"><p style="color: red">منتشر نشده</p></a></td>
                        {% endif %}
                        <td class="pointer"><a data-toggle="modal" data-target=".{{item.id}}"><i class="fad fa-eye"></i></td>
                    </tr>
                {% endfor %}
                
            </tbody>

        </table>
    {% endif %}

    {% for item in ThisShopBanners %}
        <div class="modal fade {{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body" id="{{item.id}}">
                        <div class="row">
                            <div class="col-xl-12 col-12 modal-img">
                                <img src="/{{item.Image}}" alt="بنر محصول">                           
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>    
{% endblock dashboard %}