{% extends "nakhll_market/management/base_management.html" %}
{% load jformat %}

{% block dashboard %}
<div class="dashboard">
    <h4>مدیریت کاربران <a class="btn btn-primary btn-all btn-left"
            href="{% url "nakhll_market:Add_New_User" %}">ایجاد کاربر جدید</a></h4>
    <br>
    <div class="hr-line-under-dashboard">

    </div>
    <div class="dashboard-filters">
        <h4>فیلتر</h4>
    </div>
    <form method="POST" action="{% url "nakhll_market:Show_All_User_Info" %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">نام</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1" name="First_Name" value="{{First_Name}}">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">نام خانوادگی</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1" name="Last_Name" value="{{Last_Name}}">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">شماره موبایل</span>
                    </div>
                    <input type="text" class="form-control"
                        aria-label="Username" aria-describedby="basic-addon1" 
                        name="PhoneNumber" pattern="[0-9]{,11}" value="{{PhoneNumber}}">
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="search-button">
                    <button>جستجو</button>
                </div>
                <div class="show-cellars">
                    <a href="{% url "nakhll_market:Show_All_Shoper_User_Info" %}">نمایش حجره داران</a>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="hr-line-under-dashboard">

    </div>
    <table class="table">

        <thead class="thead-light">
            <tr>
                <th>تعداد کاربران</th>
                <th>تعداد حجره ها</th>
                <th>حجره های منتشر نشده</th>
                <th>تعداد حجره داران</th>
                <th>تعداد کاربران مسدود شده</th>
            </tr>
        </thead>

        <tbody>
            <tr style="background-color: #007bff70">
                <td>{{UserCount}}</td>
                <td>{{ShopCount}}</td>
                <td>{{PublishShopCount}}</td>
                <td>{{ShoperCount}}</td>
                <td>{{BlockCount}}</td>
            </tr>
        </tbody>

    </table>
    <div class="hr-line-under-dashboard">

    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">نام کاربری</th>
                <th scope="col">نام</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">شماره موبایل</th>
                <th scope="col">ایمیل</th>
                <th scope="col">وضعیت</th>
                <th scope="col">نمایش</th>
            </tr>
        </thead>
        <tbody>
            {% for item in Profiles %}
                <tr>
                    <td>{{item.FK_User.username}}</td>
                    <td>{{item.FK_User.first_name}}</td>
                    <td>{{item.FK_User.last_name}}</td>
                    <td>{{item.MobileNumber}}</td>
                    <td>{{item.FK_User.email}}</td>
                    {% if item.FK_User.is_active %}
                    <td title="برای غیر فعال کردن کاربر کلیک کنید."><a
                            href="{% url 'nakhll_market:Change_User_Status' item.FK_User.id %}">
                            <p style="color: green">فعال</p>
                        </a></td>
                    {% else %}
                    <td title="برای فعال کردن کاربر کلیک کنید."><a
                            href="{% url 'nakhll_market:Change_User_Status' item.FK_User.id %}">
                            <p style="color: red">غیر فعال</p>
                        </a></td>
                    {% endif %}
                    <td><a href="{% url 'nakhll_market:Show_User_Info' item.FK_User.id %}"><i class="fad fa-eye"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12">
        <div class="row pagerow">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if Profiles.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">اولی</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{Profiles.previous_page_number}}">قبلی</a></li>
                    {% endif %}
                    {% for num in Profiles.paginator.page_range %}
                        {% if num == Profiles.number %}
                            <li class="page-item"><a class="page-link" href="?page={{num}}"><strong>{{num}}</strong></a></li>
                        {% elif num > Profiles.number|add:'-3' and num < Profiles.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if Profiles.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{Profiles.next_page_number}}">بعدی</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{Profiles.paginator.num_pages}}">آخری</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock dashboard %}