{% extends "nakhll_market/management/base_management.html" %}
{% load jformat %}

{% block dashboard %}
<div class="dashboard">
    <a class="btn btn-primary btn-all btn-left" href="{% url "nakhll_market:Add_New_Full_Shop" None %}">ایجاد حجره جدید</a>
    <h4>لیست حجره های بازار نخل</h4>
    <br>
    <div class="hr-line-under-dashboard">

    </div>
    <div class="dashboard-filters">
        <h4>فیلتر</h4>
    </div>
    <form method="POST" action="{% url "nakhll_market:Show_All_Content" %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">عنوان حجره</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1" name="shop_title">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">نام حجره دار</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1" name="shop_manager_first_name">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">نام خانوادگی حجره دار</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1" name="shop_manager_last_name">
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 search-button2">
                <button>جستجو</button>
            </div>

        </div>
    </form>
    <br>
    <div class="hr-line-under-dashboard">

    </div>
    <table class="table">

        <thead class="thead-light">
            <tr>
                <th>تعداد محصولات</th>
                <th>تعداد محصولات ناموجود</th>
                <th>تعداد محصولات غیرفعال</th>
                <th>تعداد محصولات منتشر نشده</th>
            </tr>
        </thead>

        <tbody>
            <tr style="background-color: #007bff70">
                <td>{{ProductCount}}</td>
                <td>{{NotProductCount}}</td>
                <td>{{OffProductCount}}</td>
                <td>{{FalseProductCount}}</td>
            </tr>
        </tbody>

    </table>
    <div class="hr-line-under-dashboard">

    </div>

    <table class="table">

        <thead class="thead-light">
            <tr>
                <th>عنوان حجره</th>
                <th>نام حجره دار</th>
                <th>تاریخ ثبت حجره</th>
                <th>وضعیت نمایش</th>
                <th>وضعیت انتشار</th>
                <th>نمایش</th>
            </tr>
        </thead>

        <tbody>
            {% for shop in Shops %}
                <tr>
                    <td>{{shop.Title}}</td>
                    <td>{{shop.FK_ShopManager.first_name }} {{shop.FK_ShopManager.last_name}}</td>
                    <td>{{shop.DateCreate|jformat:'%Y/%m/%d'}}</td>
                    {% if shop.Available %}
                    <td title="برای عدم نمایش این حجره کلیک کنید."><a
                            href="{% url "nakhll_market:Change_Shop_Seen_Status" shop.ID %}">
                            <p style="color: green">در حال نمایش</p>
                        </a></td>
                    {% else %}
                    <td title="برای نمایش این حجره کلیک کنید."><a
                            href="{% url "nakhll_market:Change_Shop_Seen_Status" shop.ID %}">
                            <p style="color: red">عدم نمایش</p>
                        </a></td>
                    {% endif %}
                    {% if shop.Publish %}
                    <td title="برای عدم انتشار این حجره کلیک کنید."><a
                            href="{% url "nakhll_market:Change_Shop_Publish_Status" shop.ID %}">
                            <p style="color: green">منتشر شده</p>
                        </a></td>
                    {% else %}
                    <td title="برای انتشار این حجره کلیک کنید."><a
                            href="{% url "nakhll_market:Change_Shop_Publish_Status" shop.ID %}">
                            <p style="color: red">منتشر نشده</p>
                        </a></td>
                    {% endif %}
                    <td title="برای مشاهده اطلاعات حجره کلیک کنید." class="pointer"><a
                            href="{% url "nakhll_market:Show_Shop_Info" shop.ID %}"><i
                                class="fad fa-eye"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="col-12">
        <div class="row pagerow">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if Shops.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">اولی</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{Shops.previous_page_number}}">قبلی</a></li>
                    {% endif %}
                    {% for num in Shops.paginator.page_range %}
                        {% if num == Shops.number %}
                            <li class="page-item"><a class="page-link" href="?page={{num}}"><strong>{{num}}</strong></a></li>
                        {% elif num > Shops.number|add:'-3' and num < Shops.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if Shops.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{Shops.next_page_number}}">بعدی</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{Shops.paginator.num_pages}}">آخری</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

</div>
{% endblock %}
