{% load i18n static %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}
    <title>بازار نخل | ثبت نام</title>
</head>
<body id="login-page">

    <div class="alarm-section">
        <div class="row">

            {% if ShowAlart %}
            <div class="col-xl-6 xol-lg-6 col-md-6 col-sm-12 col-12">
                <div class="alert alert-warning alert-dismissible fade show custom-alart" role="alert">
                    <i class="far fa-exclamation-circle"></i><strong>اطلاعیه</strong>
                    <p>
                        {{AlartMessage}}
                    </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

 <div class="login-sec">
        <h1><a href="/">بازار اجتماعی نخل</a></h1>
    <h6>تغییر رمز عبور</h6>
    <form method="POST" action="/change_password/changing">
        {% csrf_token %}
        <input id="password" name="password" type="password" placeholder="رمز عبور" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="input-login" required>
        <br>
        <input id="newpassword" name="newpassword" type="password" placeholder="رمز عبور تکرار" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="input-login" required>
        <div class="textright">
            <small>
                رمز عبور باید شامل حروف بزرگ و کوچک انگلیسی همراه با عدد باشد
                <br>
                رمز عبور شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.
                <br>
                رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.
                <br>
                رمز شما نمی تواند از عبارات معروف باشد.
                <br>
            </small>
        </div>
        <br>

            <button type="submit" >
                تغییر رمز
            </button>
    </form>
</div>
    
</body>
