{% load i18n static %}
{% load analytical %}{% load analytical %}<!DOCTYPE html>
<html>
  <head>
{% progressive_web_app_meta %}
{% analytical_head_top %}<title>{% trans 'Popup closing…' %}</title>{% analytical_head_bottom %}</head>
  <body>{% analytical_body_top %}
    <script type="text/javascript"
            id="django-admin-popup-response-constants"
            src="{% static "admin/js/popup_response.js" %}"
            data-popup-response="{{ popup_response_data }}">
    </script>
  {% analytical_body_bottom %}</body>
</html>
