{% load jformat %}
{% load i18n static %}

{% block header %}
    {% include "nakhll_market/parents/headersite.html" %}
{% endblock %}

    <meta name="keywords" content="بازار آنلاین نخل , روز دختر">
    <meta name="description" content="کمپین به مناسبت روز دختر">

    <title>بازار نخل | کمپین روز دختر</title>
</head>


{% block headertag %}
    {% include "nakhll_market/parents/new-headertag-section.html" %}
{% endblock %}


{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}

    <header class="first-pay-header">
        <div class="top-first-pay camp-top-slide ">
            <div class="">
                <div class="top-first-pay-content camp-slider">
                    <img src="{{Detail.Value_2}}" alt="روز دختر" class="header-camp">
                        <!-- <h1>روز دختر</h1> -->
                        <!-- <p><h2>با کد تخفیف<strong class="Riyal"> dokhtar </strong>روز دختر</h2></p> -->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </header>

    <div class="favorite-products">
        <div class="container">
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-4">
                    <p class="top-title">محصولات کمپین ماه روز دختر</p>
                </div>
                <!-- <div class="col-4 left-time-col">
                    <div class="left-time">
                        <div class="clock">
                            ساعت
                        </div>
                        <div class="digital-time">
                            12 : 22 : 01
                            <br>
                            فرصت باقی مانده
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="products">
                <div class="row">
                    {% for item in Products %}
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                            <div class="product">
                                <div class="product-img">
                                    <img src="{{item.Image_thumbnail_url}}" alt="product">
                                </div>
                                <div class="product-info">
                                    <div class="title-prod-camp">
                                        <p>{{item.Title}}</p>
                                    </div>
                                    <div class="product-prices">
                                        <span class="after-off-price numbersprice">{{item.Price}} ریال</span>
                                        {% if item.OldPrice != '0' %}<span class="real-price numbersprice">{{item.OldPrice}} ریال</span>{% endif %}
                                    </div>
                                    <div class="logo-rate">
                                        <div class="company-logo">
                                            <img src="{{item.FK_Shop.Image_thumbnail_url}}" alt="logo">
                                            <h5 class="company-name-title">{{item.FK_Shop.Title}}</h5>
                                        </div>
                                        <!-- <div class="info-icon">
                                            <i class="fas fa-info-circle"></i>
                                            <br>
                                            <span>{{item.FK_Shop.Point}}</span>
                                        </div> -->
                                    </div>
                                    <div class="buy-button">
                                        <a href="{{ item.get_url }}">مشاهده محصول</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a href="{% url "nakhll_market:ShowCampProduct" %}">محصولات بیشتر</a>
        </div>
    </div>

    <div class="first-pay-get-off">
        <div class="container">
            <div class="first-pay-get-off-content">
                <div class="first-pay-get-off-title">
                    <h2>
                        {{Detail.Value_1}}
                    </h2>
                </div>
                <div class="first-pay-get-off-text">
                    <p>
                        {% autoescape off %}{{Detail.Description}}{% endautoescape %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-prod-cat better-category">
        <div class="container-fluid">        
            <h4 class="top-title" ><span>حجره های حامی کمپین</span></h4>
            <div class="postslidebt">
                <section class="autoplay slider sliderbox">
                    {% for item in Coupon.FK_Shops.all %}
                        <div>
                            <a href="{{ item.get_url }}">
                                <img src="{{item.Image_thumbnail_url}}" alt="{{item.Title}}">
                                <h3 class="titbox">{{item.Title}}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>



{% block footer-section %}
    {% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}



{% block footer %}
    {% include "nakhll_market/parents/footersite.html" %}
{% endblock %}

</body>

</html>