{% load jformat %}
{% load i18n static %}

{% block header %}
{% include "nakhll_market/parents/headersite.html" %}
{% endblock %}


    <title>بازار نخل | محصولات کمپین</title>
</head>


{% block headertag %}
{% include "nakhll_market/parents/headertag-section.html" %}
{% endblock %}


{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}

    <header class="first-pay-header">
        <div class="top-first-pay">
            <div class="container">
                <div class="top-first-pay-content">
                    <img src="{% static "/images/corona_champain.jpg" %}" alt="کرونا" class="header-camp">
                    <!-- <h1>تخفیف ویژه خرید اولی ها</h1>
                    <h2>به ازای هر 100 هزارتومان، 25 هزارتومان تخفیف</h2> -->
                    <div class="clearfix"></div
                </div>
            </div>
        </div>
    </header>
    <div class="favorite-products">
        <div class="container">
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-4">
                    <p class="top-title">محصولات کمپین</p>
                </div>

            </div>
            <div class="products">
                <div class="row">


                    {% for products in Coupon.FK_Products.all %}
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                            <div class="product">
                                <div class="product-img">
                                    <img src="{{products.Image_thumbnail_url}}" alt="product">
                                </div>
                                <div class="product-info">
                                    <p>{{products.Title}}</p>
                                    <div class="product-prices">
                                    {% if products.Status != '4' %}
                                        <span class="real-price numbersprice">{{products.Price}} ریال</span>
                                        {% if products.OldPrice != '0' %}
                                            <span class="after-off-price numbersprice">{{products.OldPrice}} ریال</span>
                                        {% else %}{% endif %}
                                    {% else %}
                                        <span class="empty">ناموجود</span>
                                    {% endif %}
                                    </div>
                                    <div class="logo-rate">
                                        <div class="company-logo">
                                            <img src="{{products.FK_Shop.Image_thumbnail_url}}" alt="logo">
                                            <h5 class="company-name-title">{{products.FK_Shop.Title}}</h5>
                                        </div>
                                        <div class="info-icon">
                                            <i class="fas fa-info-circle"></i>
                                            <br>
                                            <span>{{products.FK_Shop.Point}}</span>
                                        </div>
                                    </div>
                                    <div class="buy-button">
                                        <a href="/product/{{products.FK_Shop.Slug}}/{{products.Slug}}">خرید محصول</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

<div class="chamber-support-campaing">
    <div class="container">
        <h4 class="top-title" ><span>حجره های حامی کمپین </span></h4>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="slider-full-width">
                        <div class="slider-full-seller">
                            <div class="postslidebt">
                                <section class="autoplay slider sliderfull">



                                {% for shop in Coupon.FK_Shops.all %}
                                    <div class="boxslider-slick">
                                        <a href="/{{shop.Slug}}">
                                            <img src="{{shop.Image_thumbnail_url}}"  alt="{{shop.Title}}" class="seller-img">
                                            <div class="ratecode">{{shop.Point}}</div>
                                            <div class="nameseller">
                                                <h3>{{shop.Title}}</h3>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}



                                    

                                </section>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer-section %}
{% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}



{% block footer %}
{% include "nakhll_market/parents/footersite.html" %}
{% endblock %}

</body>

</html>