{% block header %}

{% include "nakhll_market/parents/headersite.html" %}
{% endblock %}
{% load i18n static %}
{% load analytical %}
{% load analytical %}

<meta name="keywords" content="فروشگاه آنلاین نخل ,فروشگاه آنلاین ,خریدوفروش محصول ,خریدوفروش ,داستان حجره داران ,سرزمین نخل ,فروشگاه اینترنتی رایگان ,بازار نخل ,ساخت فروشگاه آنلاین ,پاساژآنلاین ,کسب وکار آنلاین ,سوغات ,بوش بیستون پژو mpn 405 ,مواد شوینده ,سوغات کرمان ,فروشگاه اینترنتی کرمان ,لوازم خانگی">
<meta name="description" content="بازار نخل، بازاری اجتماعی است که برای رفع نیاز خرید و فروش محصولات با مشارکت فروشنده ها و خریدار ها پدید آمده است">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>بازار نخل | به وسعت یک سرزمین</title>
<link rel="stylesheet" href="../../../../static/swiper/css/swiper.min.css">
<link rel="stylesheet" href="../../../../static/slicknav/slicknav.min.css">
<link rel="stylesheet" href="../../../../static/css/mainCard.css">
{% analytical_head_bottom %}</head>
<body>{% analytical_body_top %}
    
{% comment %} <script>

    setTimeout(function(){
        $(".loading-index").remove();
    }, 1600);

</script>


<div class="loading-index">
    <div class="loadingpage">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        <p>
            در حال بارگذاری ...
        </p>
    </div>
</div> {% endcomment %}



{% block headertag %}
    {% include "nakhll_market/parents/new-headertag-section.html" %}
{% endblock %}
<main>

{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}
<!-- --------------------------------header slider section----------------------------- -->

           <div class="slidercontanerr">
<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
<div>
<br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">


<!-- Wrapper for slides -->
<div id="mainCarousel" class="carousel-inner" role="listbox">



</div>




    <a class="right carousel-control btn-controll-right" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
    <a class="left carousel-control btn-controll-left" href="#myCarousel" role="button" data-slide="prev" style="left:0 !important, right: none !important">
    <span class="glyphicon glyphicon-chevron-left carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Prev</span>
    </a>

</div>
</div>

<!--fhfgh -->
</div>
<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 imgCard">
        <aside><a href="/5select/">
                <div style="display: flex;"><img class="imgslidercontainer" src="{% static "images/slide 01-2.jpg" %}"
                        alt="حجره ها" loading="lazy"></div>
            </a>
        </aside>
        <div style="display: flex;margin-top: 17px;">

            <a href="/kyadak/">
                <div style="display: flex;margin: 2px;"><img class="imgslidercontainer" src="{% static "images/slide 02-2.jpg" %}" alt="بازارچه" loading="lazy"></div>
            </a>
            </a><a href="/galorisoheyl/">
                <div style="display: flex;margin: 2px;"><img class="imgslidercontainer" src="{% static "images/slide 02-1.jpg" %}" alt="بازارچه" loading="lazy"></div>
            </a>
        </div>
    </div>
</div>


<!-- --------------------------------slider-prod-cat----------------------------- -->
<div class="slider-prod-cat ">
    <div class="container-fluid">        
        <!-- <h4><span>دسته بندی محصولات</span></h4> -->
        <div class="postslidebt">
            <section id="CategoryList" class="autoplay slider sliderboxLanding">
                
                

            </section>
        </div>
    </div>
</div>
<!-- -------------------------------seller----------------------------- -->        
<div id="seller">
    <div class="container">
        <div class="row name-section-title">   
            <div class="col-xl-12 col-12">
                <h4 class="title-box-vendor-story title-borderbt">
                    حجره ها
                </h4>
                
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div  class="slider-full-width off-slick-slider">
                    <div class="clearfix"></div>
                    <div class="slider-full-seller">
                        <div class="postslidebt">
                            <section id="randomShops" class="autoplay slider sliderfullsellerLanding">

                                
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -------------------------------banner------------------------------ -->

<section id="two-bannerhome">
    <div class="container">
        <div id="BetweenBanner" class="row">
        
         

        </div>
    </div>
</section>

<!-- -------------------------------slider-takhfifat-prod----------------------------- -->


    
<!-- -------------------------------three-box-slider----------------------------- -->

<section id="three-box-slider">
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 one-slider-col">
                <div id="mostDisProLanding" class="oneslide">

                    
                </div>
            </div>

            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12 slider-hialf-sec">
                <div class="slider-full-width">
                <div style="display: flex;flex: 1;justify-content: space-between;">
                 <h2 style="font-size:1.2rem"><a href="#"></a>جدید ترین محصولات</h2>
                 <h3 style="font-size:1.1rem"><a href="/product/all/">نمایش همه محصولات</a></h3>
                </div>
                   
                    <div class="clearfix"></div>
                    <div class="slider-full-cat slider-half">
                        <div class="postslidebt">
                            <section id="lastProduct" class="autoplay slider sliderhalfLanding">

                               

                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- -------------------------شگفتانه-------------------------------------- -->
<div id="AmazingProBanner">

<div class="c-swiper-specials--incredible ">
    <div class="d-md-none" style="color:aliceblue ; font-weight:bold ; margin-right:60px ; font-size : 25px ; margin-top :10px">تخفیف ویژه نخل</div>
    <section class="icontainer">
        
    <div class=" d-none d-md-block col-2 col-sm-3 col-md-2">
                <img width="100%"  src="{% static 'images/shegeftaneh.jpeg' %}" alt="پیشنهاد شگفت‌انگیز">

                <div class="c-product-box__amazing">
                    <div style="text-align:center ; color:aliceblue" class="c-product-box__timer">
                        <span  class="timerstyle" id="demo"></span>
                    </div>
                </div>

    </div>
        <div class="swiper--specials">
            <div id="sp-slider"  class="swiper-container">
                <div id="ConsectorSlideBanner" class="product-box swiper-wrapper" >


                    {% comment %} {% for product in AmazingProducts %}
                        <div class="product-item swiper-slide">
                            <a href="{{product.product.get_url}}"><img src="{{product.product.get_image}}" alt="{{product.product.get_image_alt}}"></a>
                            <a class="title" href="{{product.product.get_url}}">{{product.product.Title}}</a>
                            <div class="inc-product-price">

                                {% if product.product.OldPrice %}
                                <div class="del-product-price">
                                    <del>{{product.product.OldPrice}}</del>
                                    <div class="c-price__discount-oval"><span>{{product.product.get_discounted}}٪</span></div>

                                </div>
                                <div style="display:flex ; justify-content : flex-start ; align-items : center ; margin-top : 20px">
                                    <span class="price">{{product.product.Price}} </span>تومان

                                </div>

                                {% else %}
                                    <span class="price">{{product.product.Price}} </span>تومان
                                {% endif %}
                            </div>

                        </div><!--item-->
                    {% endfor %} {% endcomment %}
            </div>
            </div>
    </section>
</div>

</div>
<!-- ---------------------------------- -->
<section id="three-box-slider">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 slider-hialf-sec">
                <div class="slider-full-width">
                <div style="display: flex;flex: 1;justify-content: space-between;">
                    <h2 style="font-size:1.2rem"><a href="#">محصولات پیشنهادی</a></h2>
                    <h3 style="font-size:1.1rem"><a href="/product/all/">نمایش همه محصولات</a></h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="slider-full-cat slider-half">
                        <div class="postslidebt">
                            <section id="ProposalProduct" class="autoplay slider sliderfullP">

                                

                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ------------------------------campain----------------------------- -->



<!-- --------------------------------جدید ترین تخفیفات--------------------------- -->

<section id="three-box-slider">
    <div class="container">
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 slider-hialf-sec">
                <div class="slider-full-width off-slider">
                 <div style="display: flex;flex: 1;justify-content: space-between;">
                    <h2 style="font-size:1.2rem"><a href="#"></a>جدید ترین تخفیفات</h2>
                    <h3 style="font-size:1.1rem"><a href="/product/all/">نمایش همه محصولات</a></h3>
                    </div>
                            <div class="clearfix"></div>
                            <div class="slider-full-seller slider-full-cat">
                                <div class="postslidebt">
                                    <section id="LastCreatedDiscounted" class="autoplay slider sliderfullLanding">

                                {% comment %} {% for item in AllDisProduct %}
                                    <div class="boxslider-slick">
                                        <a href="/product/{{item.FK_Shop.Slug}}/{{item.Slug}}/">
                                            <img src="{{item.Image_thumbnail_url}}" alt="{{item.Title}}" width="170px" height="170px">
                                            <div class="title-off-slider">
                                                <h3 style="font-size:1.1rem" class="titbox longtitle">{{item.Title}}</h3>
                                            </div>
                                            {% if item.Status != '4' %}                              
                                                <span class="off-slider-darsad"> {{ item.get_discounted }}% تخفيف </span>
                                                <div class="single-off-slide-price"><span class="numbersprice price-root">{{item.Price}}</span><span class="numbersprice off-price">{{item.OldPrice}}</span> ریال</div>
                                            {% else %}
                                                <span class="empty">ناموجود</span>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endfor %} {% endcomment %}
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
    
</section>

<!-- -------------------------------------پایان---------------------------------- -->





    
<!-- -------------------------------banner-img-top----------------------------- -->



<!-- ------------------------------- blog ----------------------------- -->
   

<!-- ------------------------------- vendor story ----------------------------- -->
            
    </main>
    
    <script>
    
    $("#AmazingProBanner").hide();
    $.ajax({
        type:'GET',
        url:"/api/v1/landing/amazing-products/",
        success:function(DataAmazingBanner){
            
            for(let i=0;i<DataAmazingBanner.length;i++){
                
                 $("#ConsectorSlideBanner").append(`
                      
                        <div class="product-item swiper-slide">
                            <a href="`+DataAmazingBanner[i].product.get_url+`"><img src="`+DataAmazingBanner[i].product.Image_thumbnail_url+`" alt="`+DataAmazingBanner[i].product.Title+`"></a>
                            <a class="title" href="`+DataAmazingBanner[i].product.get_url+`">`+DataAmazingBanner[i].product.Title+`</a>
                            <div class="inc-product-price">

                                
                                <div class="del-product-price">
                                    <del>`+DataAmazingBanner[i].product.OldPrice+`</del>
                                    <div class="c-price__discount-oval"><span>`+DataAmazingBanner[i].product.get_discounted+`٪</span></div>

                                </div>
                                <div style="display:flex ; justify-content : flex-start ; align-items : center ; margin-top : 20px">
                                    <span class="price">`+DataAmazingBanner[i].product.Price+` </span>تومان

                                </div>

                                
                            </div>

                        </div>
                    
                    `) 
                $("#AmazingProBanner").show();
            }
            if(DataAmazingBanner>2){
                // Set the date we're counting down to
        
                var Dates = [];
                {% for product in AmazingProducts %}
                    Dates.push("{{product.end_date|safe}}")
                {% endfor %}
                var countDownDate = new Date("{{AmazingProducts.first.end_date|safe}}").getTime();
                
                
                // Update the count down every 1 second
                var x = setInterval(function() {
                
                // Get today's date and time
                var now = new Date().getTime();
                    
                // Find the distance between now and the count down date
                var distance = countDownDate - now;
                    
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    
                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = `${hours}:${minutes}:${seconds}`;
                    
                // If the count down is over, write some text 
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "اتمام تخفیف";
                }
                }, 1000);


            }
          
        }
    })

    </script>
 

    <script>
     

                <!-----------------------Category List----------------------->
    $.ajax({
         
        type:'GET',
        url:"/api/v1/landing/categories/",
        success:function(dataCategoryList){
          
            for(let i=0;i<dataCategoryList.length;i++){
             <!--سوم اجرا میشه-->
                $("#CategoryList").append(`
                 
                    <div class="sliderRaste">
                        <a href="`+dataCategoryList[i].url+`">
                            <img src="`+dataCategoryList[i].image_thumbnail+`" alt="`+dataCategoryList[i].title+`">
                            <h2 class="titbox">`+dataCategoryList[i].title+`</h2>
                        </a>
                    </div>
                `)
            }
            $(".sliderboxLanding").slick({
                infinite: true,
                slidesToShow: 8,
                slidesToScroll: 1,
                
                // prevArrow: '<img src="http://uupload.ir/files/5wwj_left-btn.png" />',
                // nextArrow: '<img src="http://uupload.ir/files/g3zl_right-btn_thumb.png" />',
                responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 6,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 4,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });
        }


     })
         
     
        <!--------mainbanner------->
    $.ajax({
          
        type:'GET',
        url:"/api/v1/landing/sliders/?search=1",
        success:function(dataMainBanner){
            <!--دوم اجرا میشه-->
           
           
            for(let i=0;i<dataMainBanner.length;i++){
                if(i==0){$("#mainCarousel").append(
                    `
                 
                    <aside data-target="#mycarousel" class="carousel-item  active">
                    <a href="`+dataMainBanner[i].URL+`"><img src="`+dataMainBanner[i].Image+`"
                    class="sliderAsli" alt="`+dataMainBanner[i].Title+`">
                    `+(dataMainBanner.ShowInfo ? `<div class="carousel-caption">
                    <h3>`+dataMainBanner[i].Title+`</h3>
                    <p>`+dataMainBanner[i].Description+`</p>
                    </div>`:``)+`
                    
                    </a>
                    </aside>
                    

                
                `)
      }else{
            $("#mainCarousel").append(
                                `
                            
                                <aside data-target="#mycarousel" class="carousel-item ">
                                <a href="`+dataMainBanner[i].URL+`"><img src="`+dataMainBanner[i].Image+`"
                                class="sliderAsli" alt="`+dataMainBanner[i].Title+`">
                                `+(dataMainBanner.ShowInfo ? `<div class="carousel-caption">
                                <h3>`+dataMainBanner[i].Title+`</h3>
                                <p>`+dataMainBanner[i].Description+`</p>
                                </div>`:``)+`
                                
                                </a>
                                </aside>
                                

                            
                            `)

            }
                

            }
        }


     })
    


    
    $.ajax({
        type:'GET',
        url:"/api/v1/landing/random-shops/",
        success:function(dataresult){
            
            
            <!-- چهارم اجرا میشود-->
            
                    for (let i = 0; i < dataresult.length; i++) {
                       $("#randomShops").append(`<div class="boxslider-slick">
                        <a href="`+dataresult[i].get_absolute_url+`">
                            <img src="`+dataresult[i].Image_thumbnail_url+`"  alt="`+dataresult[i].Title+`" class="seller-img">
                            <h2 class="titbox"></h2>
                                           
                            <div class="nameseller">
                                <h3>`+dataresult[i].Title+`</h3>
                            </div>
                        </a>
                    </div>`)
                    

                    }
                 $(".sliderfullsellerLanding").slick({
                infinite: true,
                slidesToShow: 7,
                slidesToScroll: 1,
               
                
                // prevArrow: '<img src="http://uupload.ir/files/5wwj_left-btn.png" />',
                // nextArrow: '<img src="http://uupload.ir/files/g3zl_right-btn_thumb.png" />',
                responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 5,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 4,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });
        }
      }) 





     
                    
      
    

    $.ajax({
       type:'GET',
       url:"/api/v1/landing/last-created-products/",
       success: function(result){
                    <!--پنجم اجرا میشود-->
           
           for(let i=0;i<result.length;i++){
              
           $("#lastProduct").append(`
            <div>
           <div class="boxslider-slick products-new">
                <a href="`+result[i].get_url+`">
                  <img src="`+result[i].Image_thumbnail_url+`" alt=`+result[i].Title+` width="175px" height="175px" >
                  <h2 style="font-size:1rem" class="titbox">`+result[i].Title+`</h2>
                  <span><span class="numbersprice">`+result[i].Price+`</span> ریال</span>
                </a>
            </div>
            </div>`)
           
                }  

                 $(".sliderhalfLanding").slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                
                autoplaySpeed: 3000,
                // prevArrow: '<img src="http://uupload.ir/files/5wwj_left-btn.png" />',
                // nextArrow: '<img src="http://uupload.ir/files/g3zl_right-btn_thumb.png" />',
                responsive: [{
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 3,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });                         
       }
    })


    $.ajax({
         type:'GET',
       url:"/api/v1/landing/sliders/?search=3",
       success: function(dataBetweenBanner){
          for(let i=0;i<dataBetweenBanner.length;i++){
              
           $("#BetweenBanner").append(`
            
                <div class="col-xl-6 col-md-6">
                    <div class="baner-2-slider">
                        <a href="`+dataBetweenBanner[i].URL+`">
                            <img src="`+dataBetweenBanner[i].Image+`" alt="`+dataBetweenBanner[i].Title+`">
                        </a>
                    </div>
                </div>
            
           
           
           `)
          }
       }





    })

    
    $.ajax({
       type:'GET',
       url:"/api/v1/landing/most-discount-prec-products/",
       success: function(dataMostDisPro){
           
            $("#mostDisProLanding").append(`
            
            <h3  class="title-borderbt">تخفیفات ویژه</h3>


                    <img src="`+dataMostDisPro[0].Image_thumbnail_url+`" alt="عکس تخفیفات ویژه" width="175px" height="175px">
                    <a href="{{DisProduct.get_url}}">
                    <h2 style="font-size: 1.1rem" class="longtitle">`+dataMostDisPro[0].Title+`</h2>
                    </a>
                    <span class="strikeprice numbersprice takhfif">`+dataMostDisPro[0].OldPrice+` ریال</span>
                    <br>
                    <span class="priceline numbersprice takhfif">`+dataMostDisPro[0].Price+` ریال</span> 
            
            
            `)





           


       }

    })



    $.ajax({
        type:'GET',
        url:"/api/v1/landing/last-created-discounted-products/",
        success:function(dataLastCD){
            
           <!-- ششم اجرا میشود-->
            
            for(let i=0;i<dataLastCD.length;i++){

                $("#LastCreatedDiscounted").append(`
                 
                    <div class="boxslider-slick">
                        <a href="`+dataLastCD[i].get_url+`">
                           <img src="`+dataLastCD[i].Image_thumbnail_url+`" alt="`+dataLastCD[i].Title+`" width="170px" height="170px">
                           <div class="title-off-slider">
                               <h3 style="font-size:1.1rem" class="titbox longtitle">`+dataLastCD[i].Title+`</h3>
                           </div>
                               <span class="off-slider-darsad"> `+dataLastCD[i].get_discounted+`% تخفيف </span>
                               <div class="single-off-slide-price"><span class="numbersprice price-root">`+dataLastCD[i].Price+`</span><span class="numbersprice off-price">`+dataLastCD[i].OldPrice+`</span> ریال</div>
                        </a>
                    </div>

                
                `)
                

            }
            
            
            $(".sliderfullLanding").slick({
                infinite: true,
                slidesToShow: 6,
                slidesToScroll: 1,
                
                
                // prevArrow: '<img src="http://uupload.ir/files/5wwj_left-btn.png" />',
                // nextArrow: '<img src="http://uupload.ir/files/g3zl_right-btn_thumb.png" />',
                responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 5,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 4,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });
        }


     })

    $.ajax({
        type:'GET',
        url:"/api/v1/landing/random-products/",
        success:function(dataProposalProduct){
            
            
            for(let i=0;i<dataProposalProduct.length;i++){
                $("#ProposalProduct").append(`
                
                                    <div class="boxslider-slick">
                                        <a href="`+dataProposalProduct[i].get_url+`">
                                            <img src="`+dataProposalProduct[i].Image_thumbnail_url+`" alt="`+dataProposalProduct[i].Title+`" width="175px" height="175px">
                                            <h2 style="font-size:1rem" class="titbox">`+dataProposalProduct[i].Title+`</h2>
                                            <span><span class="numbersprice">`+dataProposalProduct[i].Price+`</span> ریال</span>
                                        </a>
                                    </div>
                `)


        }
        
        $(".sliderfullP").slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                
                
                // prevArrow: '<img src="http://uupload.ir/files/5wwj_left-btn.png" />',
                // nextArrow: '<img src="http://uupload.ir/files/g3zl_right-btn_thumb.png" />',
                responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 5,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 4,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });
        
        
        }
        
    })
  
   




   
    {% comment %} Promise.all([
    categories_ajax.promise(),
    main_banner_ajax.promise(),
    random_shops_ajax.promise(),
    products_ajax.promise(),
    discounted_products_ajax.promise(),
    ]).then((data)=>{
        slick_rows()
    })
   {% endcomment %}
  
  </script>




<script src="../../../../static/js/jquery.min.js">
    
    </script>
    <script src="../../../../static/slicknav/jquery.slicknav.min.js"></script>
   
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous">
            
    </script>
  
  
   
   
    <script src="../../../../static/swiper/js/swiper.min.js">
    </script>
   <script src="../../../../static/js/script.js">
   </script>
   
   <script src="../../../../static/js/mainCard.js">
   </script>
   <script src="{% static "js/app.js" %}">
   </script>
    
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "بازار نخل - nakhl",
            "image": "https://nakhll.com/static/images/Logo%20SVG.svg",
            "@id": "https://www.nakhll.com",
            "url": "https://www.nakhll.com",
            "telephone": "+983432476561",
            "priceRange": "IRR",
            "address": {
            "@type": "PostalAddress",
            "streetAddress": "بلوار کوثر، ساختمان پارک علم و فناوری شرکت نخل",
            "addressLocality": "کرمان",
            "postalCode": "7781922222",
            "addressCountry": "IR"
            },
            "geo": {
            "@type": "GeoCoordinates",
            "latitude": 30.2935487,
            "longitude": 57.0234476
            },
            "openingHoursSpecification": {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Saturday",
                "Sunday"
            ],
            "opens": "08:30",
            "closes": "16:30"
            },
            "sameAs": [
            "https://www.facebook.com/Nakhll-107761244188761/",
            "https://www.instagram.com/nakhll1"
            ]
            }
     </script>


  



{% block footer-section %}
{% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}



{% block footer %}
{% include "nakhll_market/parents/footersite.html" %}
{% endblock %}