{% block header %}

{% include "nakhll_market/parents/headersite.html" %}
{% endblock %}
{% load i18n static %}
{% load analytical %}
{% load analytical %}

<meta name="keywords" content="فروشگاه آنلاین نخل ,فروشگاه آنلاین ,خریدوفروش محصول ,خریدوفروش ,داستان حجره داران ,سرزمین نخل ,فروشگاه اینترنتی رایگان ,بازار نخل ,ساخت فروشگاه آنلاین ,پاساژآنلاین ,کسب وکار آنلاین ,سوغات ,بوش بیستون پژو mpn 405 ,مواد شوینده ,سوغات کرمان ,فروشگاه اینترنتی کرمان ,لوازم خانگی">
<meta name="description" content="بازار نخل، بازاری اجتماعی است که برای رفع نیاز خرید و فروش محصولات با مشارکت فروشنده ها و خریدار ها پدید آمده است">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>بازار نخل | به وسعت یک سرزمین</title>
<link rel="stylesheet" href="../../../../static/swiper/css/swiper.min.css">
<link rel="stylesheet" href="../../../../static/slicknav/slicknav.min.css">
<link rel="stylesheet" href="../../../../static/css/mainCard.css">
{% analytical_head_bottom %}</head>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<body>{% analytical_body_top %}

{% block headertag %}
    {% include "nakhll_market/parents/new-headertag-section.html" %}
{% endblock %}
<main>

{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}
<!-- --------------------------------header slider section----------------------------- -->

           <div class="slidercontanerr">
<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
<div>
<br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">


<!-- Wrapper for slides -->
<div id="mainCarousel" class="carousel-inner" role="listbox">



</div>




    <a class="right carousel-control btn-controll-right" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
    <a class="left carousel-control btn-controll-left" href="#myCarousel" role="button" data-slide="prev" style="left:0 !important, right: none !important">
    <span class="glyphicon glyphicon-chevron-left carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Prev</span>
    </a>

</div>
</div>

<!--fhfgh -->
</div>
<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 imgCard">
        <aside id="bannerTopTopLanding">
        {% comment %} <a href="/5select/">
                <div style="display: flex;"><img class="imgslidercontainer" src="{% static "images/slide 01-2.jpg" %}"
                        alt="حجره ها" loading="lazy"></div>
            </a> {% endcomment %}
        </aside>
        <div id="bannerTopLanding" style="display: flex;margin-top: 17px;">

            {% comment %} <a href="/kyadak/">
                <div style="display: flex;margin: 2px;"><img class="imgslidercontainer" src="{% static "images/slide 02-2.jpg" %}" alt="بازارچه" loading="lazy"></div>
            </a>
            </a><a href="/galorisoheyl/">
                <div style="display: flex;margin: 2px;"><img class="imgslidercontainer" src="{% static "images/slide 02-1.jpg" %}" alt="بازارچه" loading="lazy"></div>
            </a> {% endcomment %}
        </div>
    </div>
</div>


<!-- --------------------------------slider-prod-cat----------------------------- -->
<div class="slider-prod-cat ">
    <div class="container-fluid">        
        <div class="postslidebt">
            <section id="CategoryList" class="autoplay slider sliderboxLanding">
            </section>
        </div>
    </div>
</div>
<!-- -------------------------------seller----------------------------- -->        
<div id="seller">
    <div class="container">
        <div class="row name-section-title">   
            <div class="col-xl-12 col-12">
                <h4 class="title-box-vendor-story title-borderbt">
                    حجره ها
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div  class="slider-full-width off-slick-slider">
                    <div class="clearfix"></div>
                    <div class="slider-full-seller">
                        <div class="postslidebt">
                            <section id="randomShops" class="autoplay slider sliderfullsellerLanding">
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -------------------------------banner------------------------------ -->
<section id="two-bannerhome">
    <div class="container">
        <div id="BetweenBanner" class="row">
        </div>
    </div>
</section>
<!-- -------------------------------slider-takhfifat-prod----------------------------- -->    
<!-- -------------------------------three-box-slider----------------------------- -->
<section id="three-box-slider">
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 one-slider-col">
                <div id="mostDisProLanding" class="oneslide">
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12 slider-hialf-sec">
                <div class="slider-full-width">
                <div style="display: flex;flex: 1;justify-content: space-between;">
                 <h2 style="font-size:1.2rem"><a href="#"></a>جدید ترین محصولات</h2>
                 <h3 style="font-size:1.1rem"><a href="/product/all/">نمایش همه محصولات</a></h3>
                </div>
                    <div class="clearfix"></div>
                    <div class="slider-full-cat ">
                        <div class="postslidebt">
                            <section id="lastProduct" class="autoplay slider sliderhalfLanding">
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- -------------------------شگفتانه-------------------------------------- -->
<div id="AmazingProBanner">
<div class="c-swiper-specials--incredible ">
    <div class="d-md-none" style="color:aliceblue ; font-weight:bold ; margin-right:60px ; font-size : 25px ; margin-top :10px">تخفیف ویژه نخل</div>
    <section class="icontainer">
        
    <div class=" d-none d-md-block col-2 col-sm-3 col-md-2">
                <img width="100%"  src="{% static 'images/shegeftaneh.jpeg' %}" alt="پیشنهاد شگفت‌انگیز">

                <div class="c-product-box__amazing">
                    <div style="text-align:center ; color:aliceblue" class="c-product-box__timer">
                        <span  class="timerstyle" id="demo"></span>
                    </div>
                </div>

    </div>
        <div class="swiper--specials">
            <div id="sp-slider"  class="swiper-container">
                <div id="ConsectorSlideBanner" class="product-box swiper-wrapper" >
            </div>
            </div>
    </section>
</div>

</div>
<!-- ---------------------------------- -->




<!-- ---------------------->
<section id="three-box-slider">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 slider-hialf-sec">
                <div class="slider-full-width">
                <div style="display: flex;flex: 1;justify-content: space-between;">
                    <h2 style="font-size:1.2rem"><a href="#">محصولات پیشنهادی</a></h2>
                    <h3 style="font-size:1.1rem"><a href="/product/all/">نمایش همه محصولات</a></h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="slider-full-cat ">
                        <div class="postslidebt">
                            <section id="ProposalProduct" class="autoplay slider sliderfullP">

                                

                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ------------------------------campain----------------------------- -->



<!-- --------------------------------جدید ترین تخفیفات--------------------------- -->

<section id="three-box-slider">
    <div class="container">
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 slider-hialf-sec">
                <div class="slider-full-width off-slider">
                 <div style="display: flex;flex: 1;justify-content: space-between;">
                    <h2 style="font-size:1.2rem"><a href="#"></a>جدید ترین تخفیفات</h2>
                    <h3 style="font-size:1.1rem"><a href="/product/all/">نمایش همه محصولات</a></h3>
                    </div>
                            <div class="clearfix"></div>
                            <div class="slider-full-seller slider-full-cat">
                                <div class="postslidebt">
                                    <section id="LastCreatedDiscounted" class="autoplay slider sliderfullLanding">
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
    
</section>


<!-- -------------------------------------پایان---------------------------------- -->


    
<!-- -------------------------------banner-img-top----------------------------- -->



<!-- ------------------------------- blog ----------------------------- -->
   

<!-- ------------------------------- vendor story ----------------------------- -->
            
    </main>
    
    <script>
    
    $("#AmazingProBanner").hide();
    $.ajax({
        type:'GET',
        url:"/api/v1/landing/amazing-products/",
        success:function(DataAmazingBanner){
            
            for(let i=0;i<DataAmazingBanner.length;i++){
                
                 $("#ConsectorSlideBanner").append(`
                      
                        <div class="product-item swiper-slide">
                            <a href="`+DataAmazingBanner[i].product.url+`"><img src="`+DataAmazingBanner[i].product.image_thumbnail_url+`" alt="`+DataAmazingBanner[i].product.title+`"></a>
                            <a class="title" href="`+DataAmazingBanner[i].product.url+`">`+DataAmazingBanner[i].product.title+`</a>
                            <div class="inc-product-price">

                                
                                <div class="del-product-price">
                                    <del>`+DataAmazingBanner[i].product.old_price+`</del>
                                    <div class="c-price__discount-oval"><span>`+DataAmazingBanner[i].product.discounted+`٪</span></div>

                                </div>
                                <div style="display:flex ; justify-content : flex-start ; align-items : center ; margin-top : 20px">
                                    <span class="price">`+DataAmazingBanner[i].product.Price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+` </span>ریال

                                </div>

                                
                            </div>

                        </div>
                    
                    `) 
                $("#AmazingProBanner").show();
            }
            if(DataAmazingBanner>2){                
                // Update the count down every 1 second
                var x = setInterval(function() {
                
                // Get today's date and time
                var now = new Date().getTime();
                    
                // Find the distance between now and the count down date
                var distance = countDownDate - now;
                    
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    
                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = `${hours}:${minutes}:${seconds}`;
                    
                // If the count down is over, write some text 
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "اتمام تخفیف";
                }
                }, 1000);


            }
          
        }
    })

    </script>
 

    <script>
     $.ajax({
         type:'GET',
        url:"/api/v1/landing/sliders/?search=2",
        success:function(slidtop){
            $("#bannerTopTopLanding").append(`
             <a href="`+slidtop[1].url +`">
                <div style="display: flex;"><img class="imgslidercontainer" src="`+slidtop[1].image +`"
                        alt="حجره ها" loading="lazy"></div>
            </a>
            `)
            $("#bannerTopLanding").append(`
            <a href="`+slidtop[0].url+`">
                <div style="display: flex;margin: 2px;"><img class="imgslidercontainer" src="`+slidtop[0].image+`" alt="بازارچه" loading="lazy"></div>
            </a>
            </a><a href="`+slidtop[2].url+`">
                <div style="display: flex;margin: 2px;"><img class="imgslidercontainer" src="`+slidtop[2].image+`" alt="بازارچه" loading="lazy"></div>
            </a>
            
            `)
            
        }

     })

                <!-----------------------Category List----------------------->
    $.ajax({
         
        type:'GET',
        url:"/api/v1/landing/categories/",
        success:function(dataCategoryList){
          
            for(let i=0;i<dataCategoryList.length;i++){
             <!--سوم اجرا میشه-->
                $("#CategoryList").append(`
                 
                    <div class="sliderRaste">
                        <a href="`+dataCategoryList[i].url+`">
                            <img src="`+dataCategoryList[i].image_thumbnail+`" alt="`+dataCategoryList[i].title+`">
                            <h2 class="titbox">`+dataCategoryList[i].title+`</h2>
                        </a>
                    </div>
                `)
            }
            $(".sliderboxLanding").slick({
                infinite: true,
                slidesToShow: 8,
                slidesToScroll: 1,
                
                // prevArrow: '<img src="http://uupload.ir/files/5wwj_left-btn.png" />',
                // nextArrow: '<img src="http://uupload.ir/files/g3zl_right-btn_thumb.png" />',
                responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 6,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 4,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });
        }


     })
         
     
        <!--------mainbanner------->
    $.ajax({
          
        type:'GET',
        url:"/api/v1/landing/sliders/?search=1",
        success:function(dataMainBanner){
            <!--دوم اجرا میشه-->
           
           
            for(let i=0;i<dataMainBanner.length;i++){
                if(i==0){$("#mainCarousel").append(
                    `
                 
                    <aside data-target="#mycarousel" class="carousel-item  active">
                    <a href="`+dataMainBanner[i].url+`"><img src="`+dataMainBanner[i].image+`"
                    class="sliderAsli" alt="`+dataMainBanner[i].title+`">
                    `+(dataMainBanner.show_info ? `<div class="carousel-caption">
                    <h3>`+dataMainBanner[i].title+`</h3>
                    <p>`+dataMainBanner[i].description+`</p>
                    </div>`:``)+`
                    
                    </a>
                    </aside>
                    

                
                `)
      }else{
            $("#mainCarousel").append(
                                `
                            
                                <aside data-target="#mycarousel" class="carousel-item ">
                                <a href="`+dataMainBanner[i].url+`"><img src="`+dataMainBanner[i].image+`"
                                class="sliderAsli" alt="`+dataMainBanner[i].title+`">
                                `+(dataMainBanner.show_info ? `<div class="carousel-caption">
                                <h3>`+dataMainBanner[i].title+`</h3>
                                <p>`+dataMainBanner[i].description+`</p>
                                </div>`:``)+`
                                
                                </a>
                                </aside>
                                

                            
                            `)

            }
                

            }
        }


     })
    


    
    $.ajax({
        type:'GET',
        url:"/api/v1/landing/random-shops/",
        success:function(dataresult){
            
            
            <!-- چهارم اجرا میشود-->
            
                    for (let i = 0; i < dataresult.length; i++) {
                       $("#randomShops").append(`<div class="boxslider-slick">
                        <a href="`+dataresult[i].url+`">
                            <img src="`+dataresult[i].image_thumbnail_url+`"  alt="`+dataresult[i].title+`" class="seller-img">
                            <h2 class="titbox"></h2>
                                           
                            <div class="nameseller">
                                <h3>`+dataresult[i].title+`</h3>
                            </div>
                        </a>
                    </div>`)
                    

                    }
                 $(".sliderfullsellerLanding").slick({
                infinite: true,
                slidesToShow: 7,
                slidesToScroll: 1,
                    responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 5,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 4,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });
        }
      }) 
    $.ajax({
       type:'GET',
       url:"/api/v1/landing/last-created-products/",
       success: function(result){
                    <!--پنجم اجرا میشود-->
           
           for(let i=0;i<result.length;i++){


                                  

           $("#lastProduct").append(`
            <div class="_card_product">
                                            <div class="_img_card">
                                                <a href="`+result[i].url+`">
                                                    <img src="`+result[i].image_thumbnail_url+`" alt="`+result[i].title+`" />
                                                </a>
                                            </div>
                                            <div class="_content_card">
                                                <div class="_content_card_top">
                                                    <a class="_content_card_title text-truncate" href="`+result[i].url+`">`+result[i].title+`</a>
                                            
                                                    <div class="_content_card_vendor text-truncate">
                                                       <span>`+result[i].shop.state+`</span>
                                                        <i class="fa fa-angle-left px-1"></i>
                                                        <a href="`+result[i].shop.url+`">`+result[i].shop.title+`</a>
                                                    </div>
                                                </div>
                                                <div class="_content_card_discount">
                                                    <div class="d-flex">
                                                        <div class=""></div>
                                                    </div>
                                                    <div class="_content_reviwer">
                                                        {% comment %} <span class="text-secondary"> (1 نظر) </span>
                                                        <span class="font-weight-bold ml-1">5</span>
                                                        <i class="fa fa-star " style="color: #ffc315;" aria-hidden="true"></i> {% endcomment %}
                                                    </div>
                                                </div>
                                                <div class="_content_card_price">
                                                    <div class="_content_price_number">
                                                        <span class="_content_toman">ریال</span>
                                                        <span class="_content_price_now ">`+result[i].price+`</span>
                                                        <span class="_content_price_old "></span>
                                                    </div>
                                                    <div >
                                                        {% comment %} <button class="btn _btn_add_card">
                                                        <i class="fa fa-plus" />
                                                    </button> {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





           `)


           
                }  

                 $(".sliderhalfLanding").slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                
                autoplaySpeed: 3000,
                responsive: [{
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 3,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });   
       }
    })


    $.ajax({
         type:'GET',
       url:"/api/v1/landing/sliders/?search=3",
       success: function(dataBetweenBanner){
          for(let i=0;i<dataBetweenBanner.length;i++){
              
           $("#BetweenBanner").append(`
            
                <div class="col-xl-6 col-md-6">
                    <div class="baner-2-slider">
                        <a href="`+dataBetweenBanner[i].url+`">
                            <img src="`+dataBetweenBanner[i].image+`" alt="`+dataBetweenBanner[i].title+`">
                        </a>
                    </div>
                </div>
            
           
           
           `)
          }
       }





    })

    
    $.ajax({
       type:'GET',
       url:"/api/v1/landing/most-discount-prec-products/",
       success: function(dataMostDisPro){
           
            $("#mostDisProLanding").append(`
            
            <h3  class="title-borderbt">تخفیفات ویژه</h3>
                <div style="
    margin-top: 43px;
">

                    <img src="`+dataMostDisPro[0].image_thumbnail_url+`" alt="عکس تخفیفات ویژه" width="175px" height="175px">
                    <a href="`+dataMostDisPro[0].url+`">
                    <h2 style="font-size: 1.1rem" class="longtitle">`+dataMostDisPro[0].title+`</h2>
                    </a>
                    <span class="strikeprice numbersprice takhfif">`+dataMostDisPro[0].old_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+` ریال</span>
                    <br>
                    <span class="priceline numbersprice takhfif">`+dataMostDisPro[0].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+` ریال</span> 
            </div>
            
            `)
       }

    })



    $.ajax({
        type:'GET',
        url:"/api/v1/landing/last-created-discounted-products/",
        success:function(dataLastCD){
            
          
            
            for(let i=0;i<dataLastCD.length;i++){

                $("#LastCreatedDiscounted").append(`
                     <div class="_card_product">
                                            <div class="_img_card">
                                                <a href="`+dataLastCD[i].url+`">
                                                    <img src="`+dataLastCD[i].image_thumbnail_url+`" alt="`+dataLastCD[i].title+`" />
                                                </a>
                                            </div>
                                            <div class="_content_card">
                                                <div class="_content_card_top">
                                                    <a class="_content_card_title text-truncate" href="`+dataLastCD[i].url+`">`+dataLastCD[i].title+`</a>
                                            
                                                    <div class="_content_card_vendor text-truncate">
                                                        <span>`+dataLastCD[i].shop.state+`</span>
                                                        <i class="fa fa-angle-left px-1"></i>
                                                        <a href="`+dataLastCD[i].shop.url+`">`+dataLastCD[i].shop.title+`</a>
                                                    </div>
                                                </div>
                                                <div class="_content_card_discount">
                                                    <div class="d-flex">
                                                        <div class="_card_discount">`+dataLastCD[i].discount+`%</div>
                                                    </div>
                                                    <div class="_content_reviwer">
                                                        {% comment %} <span class="text-secondary"> (1 نظر) </span>
                                                        <span class="font-weight-bold ml-1">5</span>
                                                        <i class="fa fa-star " style="color: #ffc315;" aria-hidden="true"></i> {% endcomment %}
                                                    </div>
                                                </div>
                                                <div class="_content_card_price">
                                                    <div class="_content_price_number">
                                                        <span class="_content_toman">ریال</span>
                                                        <span class="_content_price_now">`+dataLastCD[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+`</span>
                                                        <span class="_content_price_old">`+dataLastCD[i].old_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+`</span>
                                                    </div>
                                                    <div >
                                                    
                                                        {% comment %} <button class="btn _btn_add_card">
                                                        <i class="fa fa-plus" />
                                                    </button> {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
               
                   
                
                `)
                

            }
            
            
            $(".sliderfullLanding").slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                    responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 5,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 4,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });
        }


     })

    $.ajax({
        type:'GET',
        url:"/api/v1/landing/random-products/",
        success:function(dataProposalProduct){
            
            
            for(let i=0;i<dataProposalProduct.length;i++){
                $("#ProposalProduct").append(`

                                    <div class="_card_product">
                                            <div class="_img_card">
                                                <a href="`+dataProposalProduct[i].url+`">
                                                    <img src="`+dataProposalProduct[i].image_thumbnail_url+`" alt="`+dataProposalProduct[i].title+`" />
                                                </a>
                                            </div>
                                            <div class="_content_card">
                                                <div class="_content_card_top">
                                                    <a class="_content_card_title text-truncate" href="`+dataProposalProduct[i].url+`">`+dataProposalProduct[i].title+`</a>
                                            
                                                    <div class="_content_card_vendor text-truncate">
                                                        <span>`+dataProposalProduct[i].shop.state+`</span>
                                                        <i class="fa fa-angle-left px-1"></i>
                                                        <a href="`+dataProposalProduct[i].shop.url+`">`+dataProposalProduct[i].shop.title+`</a>
                                                    </div>
                                                </div>
                                                <div class="_content_card_discount">
                                                    <div class="d-flex">
                                                        <div class=""></div>
                                                    </div>
                                                    <div class="_content_reviwer">
                                                        {% comment %} <span class="text-secondary"> (1 نظر) </span>
                                                        <span class="font-weight-bold ml-1">5</span>
                                                        <i class="fa fa-star " style="color: #ffc315;" aria-hidden="true"></i> {% endcomment %}
                                                    </div>
                                                </div>
                                                <div class="_content_card_price">
                                                    <div class="_content_price_number">
                                                        <span class="_content_toman">ریال</span>
                                                        <span class="_content_price_now">`+dataProposalProduct[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+`</span>
                                                        <span class="_content_price_old"></span>
                                                    </div>
                                                    <div >
                                                        {% comment %} <button class="btn _btn_add_card">
                                                          <i class="fa fa-plus" />
                                                        </button> {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                
                                   
                `)
        }
        $(".sliderfullP").slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                    responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 5,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 4,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });
        }
    })
  </script>




<script src="../../../../static/js/jquery.min.js">
    
    </script>
    <script src="../../../../static/slicknav/jquery.slicknav.min.js"></script>
   
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous">
            
    </script>
  
  
   
   
    <script src="../../../../static/swiper/js/swiper.min.js">
    </script>
   <script src="../../../../static/js/script.js">
   </script>
   
   <script src="../../../../static/js/mainCard.js">
   </script>
   <script src="{% static "js/app.js" %}">
   </script>
    
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "بازار نخل - nakhl",
            "image": "https://nakhll.com/static/images/Logo%20SVG.svg",
            "@id": "https://www.nakhll.com",
            "url": "https://www.nakhll.com",
            "telephone": "09385062471",
            "priceRange": "IRR",
            "address": {
            "@type": "PostalAddress",
            "streetAddress": "بلوار کوثر، ساختمان پارک علم و فناوری شرکت نخل",
            "addressLocality": "کرمان",
            "postalCode": "7781922222",
            "addressCountry": "IR"
            },
            "geo": {
            "@type": "GeoCoordinates",
            "latitude": 30.2935487,
            "longitude": 57.0234476
            },
            "openingHoursSpecification": {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Saturday",
                "Sunday"
            ],
            "opens": "08:30",
            "closes": "16:30"
            },
            "sameAs": [
            "https://www.facebook.com/Nakhll-107761244188761/",
            "https://www.instagram.com/nakhll1"
            ]
            }
     </script>


  



{% block footer-section %}
{% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}



{% block footer %}
{% include "nakhll_market/parents/footersite.html" %}
{% endblock %}