{% load i18n static %}
{% load analytical %}
{% load jformat %}
{% load analytical %}


{% block header %}
    {% include "nakhll_market/parents/headersite.html" %}
{% endblock %}


    <meta name="product_id" content="{{Product.ID}}">
    <title>بازار نخل | {{Product.Title}}</title>
{% analytical_head_bottom %}</head>

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{Product.Title | safe}}",
      "image": "{{BASE_URL | safe}}/{{Product.Image | safe}}",
      "description": "{{Product.Description | safe}}",
      "brand": "{{Shop.Slug | safe}}",
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "4.5",
          "bestRating": "5"
        },
        
        "author": {
          "@type": "Person",
          "name": "{{Shop.Title | safe}}"
        }
      },
      "offers": {
        "@type": "Offer",
        "url": "/{{Shop.Slug | safe}}/{{Product.Slug | safe}}",
        "priceCurrency": "IRR",
        "priceValidUntil":"",
        "price": "{{Product.Price | safe}}",
        "itemCondition": "https://schema.org/UsedCondition",
        "availability": "https://schema.org/InStock"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue":"5",
        "reviewCount":"5",
        "worstRating": "0",  
        "ratingCount": "5"
      }
    }
    </script>
{% block headertag %}
    {% include "nakhll_market/parents/new-headertag-section.html" %}
{% endblock %}


{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}
{% include "nakhll_market/parents/headersite.html" %}


{% if Product.Publish %}
    {% if Product.Available %}
        {% include "nakhll_market/pages/product_detail.html" %}
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-12 text-center">
                    <div class="dashboard mg-10">
                        <div class="row">
                            <div class="col-xl-12 col-12 image-alert-notfind">
                                <img src="{% static "images/unavailable.svg" %}" class="alert-notfind" alt="unavailable">
                            </div>
                        </div>
                        <h5 class="alert-notfind-message">محصول {{Product.Title}} در حال حاضر <span>غیرفعال</span> است.</h5>
                        <div class="row">
                            <div class="unavailable">
                                <p>  این محصول توسط حجره دار یا تیم پشتیبانی بازار نخل غیرفعال شده است. ممکن است فروش این
                                    محصول متوقف شده یا محصول درحال بروزرسانی است. درصورت وجود هرگونه ابهام و مشکل
                                   میتوانید با تیم پشتیبانی تماس حاصل فرمایید.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="unavailable-gobackhome-btn">
                                <a href="/">بازگشت به خانه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-12 text-center">
                <div class="dashboard mg-10">
                    <div class="row">
                        <div class="col-xl-12 col-12 image-alert-notfind">
                            <img src="{% static "images/unpublish.svg" %}" class="alert-notfind" alt="unavailable">
                        </div>
                    </div>
                    <h5 class="alert-notfind-message">محصول {{Product.Title}} در <span>انتظار تایید</span> است.</h5>
                    <div class="row">
                        <div class="unavailable">
                            <p>   این محصول درحال حاضر در انتظار تایید تیم پشتیبانی نخل است. این روند ممکن است بین 24
                                الی 48 ساعت در ساعات اداری طول بیانجامد. لطفا تا زمان تایید محصول منتظر باشید.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="unavailable-gobackhome-btn">
                            <a href="/">بازگشت به خانه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}  


{% if RelatedProduct %}
    <section>
        <div class="container">
           <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 one-slider-col">
                <div class="oneslide">
                    <h3 style="font-size: 1.3rem" class="title-borderbt">تخفیفات ویژه</h3>

                    <img src="{{MostDiscount.Image_thumbnail_url}}" alt="عکس تخفیفات ویژه" width="175px" height="175px">
                    
                    <a href="{{MostDiscount.get_absolute_url}}">
                        <h2 style="font-size: 1rem" class="longtitle">{{MostDiscount.Title}}</h2>
                    </a>
                        {% if MostDiscount.OldPrice != 0 %}
                            <span class="strikeprice numbersprice takhfif">{{MostDiscount.OldPrice}} ریال</span>
                        {% endif %}
                    <br>
                    <span class="priceline numbersprice takhfif">{{MostDiscount.Price}} ریال</span>
                </div>
            </div>

             <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12 slider-hialf-sec">
                <div class="slider-full-width">
                <div style="display: flex;flex: 1;justify-content: space-between;">
                    <h2 style="font-size: 1.2rem"><a href="#"></a>شاید به کارت بیاد</h2>
                    <h3 style="font-size: 1.1rem"><a href="/product/all/">نمایش همه محصولات</a></h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="slider-full-cat slider-half">
                        <div class="postslidebt">
                            <section class="autoplay slider sliderhalf">
                                {% for item in RelatedProduct %}
                                    <div class="boxslider-slick products-new">
                                        <a href="/product/{{item.FK_Shop.Slug}}/{{item.Slug}}/">
                                            <img src="{{item.Image_thumbnail_url}}" alt="{{item.Title}}"  width="175px" height="175px" >
                                            <h2 style="font-size: 1rem" class="titbox">{{item.Title}}</h2>
                                            {% if item.Status != '4' %}<span><span class="numbersprice">{{item.Price}}</span> ریال</span>{% else %}<span class="empty">ناموجود</span>{% endif %}
                                        </a>
                                    </div>
                                {% endfor %}
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
{% endif %}

<section>
        {% if OtherProducts %}
        <div class="container">
            <div class="slider-hialf-sec">
                <div class="slider-full-width border-boxshadow">
                    <h5 style="font-size: 1rem"><a href="#"></a>خریداران این محصول را خریده اند</h5>
                    <div class="clearfix"></div>
                    <div class="slider-full-seller slider-full-cat">
                        <div class="postslidebt">
                            <section class="autoplay slider sliderfull">
                                {% for item in OtherProducts %}
                                    <div class="boxslider-slick products-new">
                                        <a href="{{ item.get_url }}" target="_blank">
                                            <img src="{{ item.Image_thumbnail_url }}" alt="{{item.Title}}" width="175px" height="175px" >
                                            <h2 style="font-size: 1rem" class="titbox">{{item.Title}}</h2>
                                            <span><span class="numbersprice">{{item.Price}}</span> ریال</span>
                                        </a>
                                    </div>
                                {% endfor %}
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
                <div class="container">
            <div class="slider-hialf-sec">
                <div class="slider-full-width border-boxshadow">
                    <h3 style="font-size: 1.3rem"><a href="#"></a>تخفیفات طلایی</h3>
                    <div class="clearfix"></div>
                    <div class="slider-full-seller slider-full-cat">
                        <div class="postslidebt">
                            <section class="autoplay slider sliderfull">
                                {% for item in MostDiscounts %}
                                    <div class="boxslider-slick">
                                        <a href="/product/{{item.FK_Shop.Slug}}/{{item.Slug}}/">
                                            <img src="{{item.Image_thumbnail_url}}" alt="{{item.Title}}" width="170px" height="170px">
                                            <div class="title-off-slider">
                                                <h3 style="font-size:1.1rem" class="titbox longtitle">{{item.Title}}</h3>
                                            </div>
                                            {% if item.Status != '4' %}                              
                                                <span class="off-slider-darsad"> {{ item.get_discounted }}% تخفيف </span>
                                                <div class="single-off-slide-price"><span class="numbersprice price-root">{{item.Price}}</span><span class="numbersprice off-price">{{item.OldPrice}}</span> ریال</div>
                                            {% else %}
                                                <span class="empty">ناموجود</span>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endfor %}
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="clearfix"></div>
</section>

<script type="text/javascript">
    $(window).on('load', function() {
        $('#myModal').modal('show');
    });
</script>

<script>
    {% comment %} 
    nt function javascript {% endcomment %}

    
     
    

    
    
    {% comment %} $('#myModal').on('hidden.bs.modal', function (e) {

     // do something...
     $('#myForm').submit();
     
     }) {% endcomment %}

    {% comment %} $('#myForm').on('submit', function(e){
     $('#myModal').modal('show');
     
      e.preventDefault(); 
    });{% endcomment %}
    
    $("#tcopy").click(function () {
        var dummy = document.createElement('input'),
            text = window.location.href;
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
        console.log('aliii');
        return true;
    });

    $(".prod-gallery-active-pic-showing img.showing-banner").hide();
    $(".preview-prod-img-deactive").click(function () {
        $("img.active").removeClass("active");
        $(this).addClass("active");
    })

    $(function () {
            $('.share-icon-main').popover({
              container: 'body',
            //   template: '<div class="popover" role="tooltip""><h3 class="popover-title"></h3><div class="popover-content"><div class="data-content"></div></div></div>'
            //   template: '<div class="popover" role="popover"><div class="popover-arrow"></div><div class="popover-inner"></div></div>'
            })
          })
          $('body').on('click', function (e) {
            $('[data-toggle=popover]').each(function () {
                // hide any open popovers when the anywhere else in the body is clicked
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });

        
</script>

{% block footer-section %}
    {% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}

<script>
$(document).on('click', '.number-spinner button', function () {    
	var btn = $(this),
		oldValue = btn.closest('.number-spinner').find('input').val().trim(),
		newVal = 0;
	
	if (btn.attr('data-dir') == 'up') {
		newVal = parseInt(oldValue) + 1;
	} else {
		if (oldValue > 1) {
			newVal = parseInt(oldValue) - 1;
		} else {
			newVal = 1;
		}
	}
	btn.closest('.number-spinner').find('input').val(newVal);
});
var product_data = {id:'{{Product.ID}}', title:'{{Product.Title}}', price:'{{Product.Price}}', discount: '{{Product.get_discounted}}' }
</script>

{% block footer %}
    {% include "nakhll_market/parents/footersite.html" %}
{% endblock %}
