{% load jformat %}

{% block header %}
    {% include "nakhll_market/parents/headermain.html" %}
{% endblock %}

    <title>بازار نخل | هشدار ها</title>
</head>

{% block headertag %}
    {% include "nakhll_market/parents/new-headertag-section.html" %}
{% endblock %}

{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}

<section id="bg-profile-top">

</section>

<section id="profile-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="profile-sidebar-site">   
                    {% block topsidebar %}
                        {% include "nakhll_market/profile/parents/new-topsidebar.html" %}
                    {% endblock %}
                    <div class="profile-sidebar-main">
                        <a href="/profile/dashboard/">
                            <button>
                                <i class="fas fa-id-badge"></i>
                                <h5>داشبورد</h5>
                            </button>
                        </a>

                        <a href="/profile/transaction/">
                            <button>
                                <i class="fad fa-clipboard-list"></i>
                            <h5>تراکنش ها</h5>
                            </button>
                        </a>

                        <a href="/profile/factor/">
                            <button>
                                <i class="fas fa-file-invoice-dollar"></i>
                                <h5>فاکتور ها</h5>
                            </button>
                        </a>

                        <a href="/profile/ticketing/">
                            <button>
                                <i class="fad fa-user-headset"></i>
                                <h5>پشتیبانی</h5>
                            </button>
                        </a>

                        <a href="/profile/shops/">
                            <button>
                                <i class="fas fa-store"></i>
                                <h5>مدیریت حجره</h5>
                            </button>
                        </a>

                        <a href="/profile/review/">
                            <button>
                                <i class="fad fa-comments-alt"></i>
                                <h5>نقد ها و نظرات</h5>
                            </button>
                        </a>

                        {% if request.user.is_staff %}
                            {% block review %}
                                {% include "nakhll_market/alert/pages/menu_for_alert.html" %}
                            {% endblock %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xl-9">
                {% block header-profile %}
                    {% include "nakhll_market/profile/parents/new-header-profile.html" %}
                {% endblock %}
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12">
                        <div class="dashboard"> 
                            <h4>حذف کوپن حجره دار</h4>  

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCopun_Number">سریال کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.SerialNumber}}" class="form-control" id="inputCopun_Number">
                                    </fieldset>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputCopun_NumberOfUse">میزان دفعات مجاز استفاده از کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.NumberOfUse}}" class="form-control" id="inputCopun_NumberOfUse" required>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCopun_Creator">سازنده کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{ Coupon.get_user_fullname }}" class="form-control" id="inputCopun_Creator">
                                    </fieldset>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputCopun_Type">نوع کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{ Coupon.get_discount_status }}" class="form-control" id="inputCopun_Type">
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCopun_Title">عنوان کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.Title}}" class="form-control" id="inputCopun_Title" required>
                                    </fieldset>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputCopun_Des">توضیحات کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.Description}}" class="form-control" id="inputCopun_Des">
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCopun_Shops"> حجره ها </label>
                                    <fieldset disabled>
                                        <select data-placeholder="حجره ها" multiple class="chosen-select-rtl form-control" id="inputCopun_Shops" tabindex="14">
                                            {% for item in Coupon.FK_Shops.all %}
                                                <option selected>{{item.Title}}</option>
                                            {% endfor %}
                                        </select>
                                    </fieldset>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputCopun_Products"> محصولات </label>
                                    <fieldset disabled>
                                        <select data-placeholder="محصولات" multiple class="chosen-select-rtl form-control" id="inputCopun_Products" tabindex="14">
                                            {% for item in Coupon.FK_Products.all %}
                                                <option selected>{{item.Title}}</option>
                                            {% endfor %}
                                        </select>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCopun_StartDay">تاریخ شروع کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.StartDate|jformat:'%Y/%m/%d'}}" class="form-control" id="inputCopun_StartDay" required >
                                    </fieldset>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputCopun_EndDay">تاریخ انقضاء کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.EndDate|jformat:'%Y/%m/%d'}}" class="form-control" id="inputCopun_EndDay" required >
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCopun_DiscountType">نوع تخفیف کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{ Coupon.get_discount_type }}" class="form-control" id="inputCopun_DiscountType">
                                    </fieldset>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputCopun_DiscountRate">میزان تخفیف کوپن</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.DiscountRate}}" class="form-control" id="inputCopun_DiscountRate" required>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCopun_MinimumAmount">حداقل میزان خرید</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.MinimumAmount}}" class="form-control"  id="inputCopun_MinimumAmount">
                                    </fieldset>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputCopun_MaximumAmount">حداکثر میزان خرید</label>
                                    <fieldset disabled>
                                        <input type="text" value="{{Coupon.MaximumAmount}}" class="form-control" id="inputCopun_MaximumAmount">
                                    </fieldset>
                                </div>
                            </div>
                            <form method="POST" action="/profile/alert/record/deletecoupon/{{Coupon.id}}">
                                {% csrf_token %}
                                <div class="col-xl-12 col-12">
                                    <button class="btn btn-primary">تایید</button>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% block footer-section %}
    {% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}

{% block footer %}
    {% include "nakhll_market/parents/footersite.html" %}
{% endblock %}