<a href="/profile/alert/">
    <button class="activebtn">
        <i class="fas fa-bell"></i>
        <h5>هشدار ها</h5>
    </button>
</a>

<a href="{% url "nakhll_market:Show_All_User_Info" %}">
    <button>
        <i class="fas fa-users"></i>
        <h5>کاربران</h5>
    </button>
</a>

<a href="{% url "nakhll_market:ManagementCoupunList" %}">
    <button>
        <i class="fad fa-window-maximize"></i>
        <h5>کوپن ها</h5>
    </button>
</a>

<a href="{% url "nakhll_market:Show_All_Content" %}">
    <button>
        <i class="fas fa-sliders-h"></i>
        <h5>مدیریت محتوا</h5>
    </button>
</a>

<!-- <a href="/profile/shops/manage_campaign_list/">
    <button>
        <i class="fas fa-tag"></i>
        <h5>کمپین ها</h5>
    </button>
</a> -->