{% load i18n static %}
{% load analytical %}
{% load compress %}
{% load analytical %}

{% compress js file base %}
    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery-3.2.1.slim.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/popper.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery-2.2.0.min.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/slick.min.js" %}" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/chosen.jquery.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/init.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/main.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/num2persian-min.js" %}"></script>
{% endcompress %}
    
  
 

{% analytical_body_bottom %}</body>

</html>