{% load i18n static %}
{% load analytical %}
{% load compress %}
{% load analytical %}<!DOCTYPE html>
<html lang="en">
<head>{% analytical_head_top %} 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Persion">
    <meta charset="UTF-8">
    <meta name="author" content="viscal">
    <meta name="owner" content="viscal">
    <meta name="theme-color" content="#f1fbff" />
    <meta name="msapplication-navbutton-color" content="#f1fbff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f1fbff">
    {% comment %} <title>صفحه اصلی</title> {% endcomment %}
    {% comment %} <meta name="description" content=""> {% endcomment %}
    {% comment %} <meta name="robots" content="noindex,nofollow"> {% endcomment %}
    {% comment %} <meta property="og:type" content="article"/>
    <meta property="og:title" content="Title"/>
    <meta property="og:description" content="De.
    scription"/>
    <meta property="og:image" content="https://toplearn.com/image/sdsd.jpg"/>
    <meta property="og:url" content="https://toplearn.com/c/mZO"/>
    <meta property="og:site_name" content="Top Learn"/> {% endcomment %}
        <!--Twitter-->


    <link rel="canonical" href="https://nakhll.com/"/>

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/fontiran.css" %}" />
        <link rel="stylesheet" href="{% static "css/all.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/ion.rangeSlider.min.css" %}" />
        <link  rel="stylesheet" href="{% static "css/persianDatepicker.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/slick-theme.css" %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap-rtl.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/chosen.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% endcompress %}
    
    <!-- faveicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicon/apple-touch-icon.pn" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "images/favicon/site.webmanifest" %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156540827-1"></script>
    <script src="{% static "js/app.js" %}"></script>
   
    <script type="text/javascript" charset="utf-8" src="{% static "js/compressor/compressor.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/compressor/compressor.common.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/compressor/compressor.common.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/compressor/compressor.esm.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/compressor/compressor.esm.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/compressor/compressor.js" %}"></script>
        
    <!--JavaScript-->
    {% compress js file base %}
        <script type="text/javascript" charset="utf-8" src="{% static "js/jquery4.min.js" %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static "js/persianDatepicker.js" %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static "js/ion.rangeSlider.min.js" %}"></script>
    {% endcompress %}
    {% compress js inline %}
    <script type="text/javascript" charset="utf-8" >
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156540827-1');
    </script>
    {% endcompress %}