{% load i18n static %}
{% load analytical %}
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-section">
    <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="add-shop-mobile" href="/profile/shop-manager/add/shop">حجره دار شوید</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav menu-navbar">
                <li class="nav-item">
                    <a class="nav-link" href="/pages/static/order/">نحوه ثبت سفارش</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="/pages/static/questions/">پرسش های متداول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/static/rules/">شرایط و ضوابط</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/static/aboutus/">درباره ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/connectus/">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/complaint/">ثبت شکایت</a>
                </li>
                   
                </ul>
                <ul class="navbar-nav menu-navbar mr-auto add-shop" style="margin-left: 0 !important">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/shop-manager/add/shop">حجره دار شوید</a>
                    </li>
                </ul>
            </div>

    </div>
</nav>