{% load jformat %}
{% load analytical %}
{% load i18n static %}
{% load analytical %}

{% block header %}
{% include "nakhll_market/parents/headermain.html" %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <title>بازار نخل | سبد خرید</title>
{% analytical_head_bottom %}</head>


{% block headertag %}
{% include "nakhll_market/parents/new-headertag-section.html" %}
{% endblock %}

<div class="loading-index" id="checkajax">
    <div class="loadingpage">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        <p>
        لطفا منتظر بمانید ...
        </p>
        <a href="/cart/detail/">بارگذاری مجدد صفحه </a>
    </div>
</div>

{% block headersection %}
    {% include "nakhll_market/parents/menuheader-section.html" %}
{% endblock %}



<div class="modal fade" id="myModalerror" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">خطا ...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="text_err">

      </div>
      <div class="modal-footer" id="modal-footer-err">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>

<section id="brdcmb">
    <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                            <li class="breadcrumb-item " aria-current="page">اطلاعات ارسال</li>
                            <li class="breadcrumb-item " aria-current="page">هزینه ارسال و شیوه پرداخت</li>
                            <li class="breadcrumb-item " aria-current="page">صورت حساب نهایی</li>
                        </ol>
                    </nav>
                </div>
            </div>
    </div>
</section>

<section id="time">
    <div class="container" id="cart">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                <div class="product-cart" id="product-cart">
                    <div v-if="cart">
                        <div v-for="item in cart">
                            <div class="prd-cart-list">
                                <div class="row">
                                    <div class="col-xl-2">
                                        <div class="img-prod-cart">
                                            <img v-bind:src="[[item.image]]" v-bind:alt="[[item.title]]">
                                        </div>
                                    </div>
                                    <div class="col-xl-7">
                                        <div class="des-prod-cart">
                                            <h4>[[item.title]] (<span class="numbersprice">[[item.price]]</span> ریال )</h4>

                                            <h5>حجره : <a v-bind:href="[[get_shop_url(item)]]"><span>[[item.shop.title]]</span></a></h5>

                                            {% if item.FK_AttrPrice.all %}
                                                <h5>ویژگی های انتخابی  :

                                                    {% for attribute in item.FK_AttrPrice.all %}
                                                        <span>[[attribute.Value]] : <span class="numbersprice">[[attribute.ExtraPrice]]</span> ریال , </span>
                                                    {% endfor %}
                                                </h5>
                                            {% endif %}
                                                <p class="inventory-text">تعداد موجودی : [[item.inventory]]</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="price-prod-cart">

                                            <div v-if="[[item.discount]]">
                                                <h6 class="pricenumberdel"><span class="numbersprice del-price" v-text="get_total_price_without_discount(item)"></span>ریال</h6>
                                            </div>
                                            <h6><span class="numbersprice itemprice" v-text="get_total_price(item)"></span>ریال</h6>
                                            <label for="numberprod">تعداد:</label>
                                            <button v-on:click="increase_product_count(item)"><i class="fal fa-plus"></i></button>
                                            <input v-model.number="item.count" style="width:30px"></input>
                                            <button v-on:click="decrease_product_count(item)"><i class="fal fa-minus"></i></button>
                                            <a v-on:click="delete_product(item)" class="delbtn">حذف</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        هیچ محصولی در سبد خرید شما موجود نیست ...
                    </div>


                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
                <div class="sidebar-cart">
                    <div class="summary-cart">
                    <h5>محصولات سفارش :</h5>
                        <div v-if="cart.length">
                            <div v-for="item in cart">
                                <div class="row summary-prod">
                                    <div class="col-sm-3">
                                        <img v-bind:src="[[item.image]]" v-bind:alt="[[item.title]]">
                                    </div>
                                    <div class="col-sm-9">
                                        <h6>[[item.title]] (<span class="numbersprice">[[item.price]]</span> ریال )</h6>
                                        <h6>تعداد : [[item.count]] </h6>
                                        <h6>قیمت کل : <span class="numbersprice itemprice" v-text="get_total_price(item)"></span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div>
                                هیچ محصولی در سبد خرید موجود نیست.
                            </div>
                        </div>
                    <div class="summary-cart">
                        <div v-if="cart.length">
                            <h5>خلاصه سفارش :</h5>
                            <div class="factor-cart-summary">
                                <mark>جمع مبلغ کالا ها <span class="numbersprice" id="facctorprice" v-text="get_cart_total_price()"> ریال</span></mark>
                            </div>
                        </div>
                    </div>
                    <div class="continue-cart">
                        <div v-if="cart.length">
                            <a href="{% url "Payment:sendinfo" %}"><button class="btn btn-success"><i class="fal fa-shopping-bag"></i> نهایی کردن سبد </button></a>
                        <div>
                        <br>
                        <a href="/" class="aback">بازگشت به صفحه اول</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    {% comment %} $(document).ready(function () {
        render_cart();
    })

    function render_cart() {

        var shopBagProductCount;
        var txt1 ="";
        var cart = JSON.parse(localStorage.getItem('cart'))
        if (cart){
            shopBagProductCount = cart.length;
            for (var i=0; i < shopBagProductCount ; i++) {
                txt1 +=
                    `<div class="prd-cart-list">
                        <div class="row">
                            <div class="col-xl-2">
                                <div class="img-prod-cart">
                                    <img src="${cart[i].image}" alt="${cart[i].title}">
                                </div>
                            </div>
                            <div class="col-xl-7">
                                <div class="des-prod-cart">
                                    <h4>${cart[i].title} (<span class="numbersprice">${cart[i].price}</span> ریال )</h4>

                                    <h5>حجره : <a href="/${cart[i].shop.slug}"><span>${cart[i].shop.title}</span></a></h5>
                                    <p class="inventory-text">تعداد موجودی : ${cart[i].inventory}</p>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="price-prod-cart">
                            `
                            if (cart[i].discount){
                                txt1 += `<h6 class="pricenumberdel"><span class="numbersprice del-price"> ${(cart[i].price+cart[i].discount)*cart[i].count} </span>ریال</h6>`
                            }
                            txt1 += `
                                    <h6><span class="numbersprice itemprice${cart[i].id}" > ${cart[i].price*cart[i].count} </span>ریال</h6>

                                    <label for="numberprod">تعداد:</label>
                                    <button class="add${cart[i].id}" value="${cart[i].id}"><i class="fal fa-plus"></i></button>
                                    <span id="id${cart[i].id}">${cart[i].count}</span>
                                    <button class="remove${cart[i].id}"><i class="fal fa-minus"></i></button>
                                    <a id="delete${cart[i].id}" class="delbtn">حذف</a>
                                    \<\script\>\
                                    function add_product_count_local_storage(product_id){
                                        product = cart.filter(item => item.id == product_id)
                                        product.count += 1
                                    }
                                    function remove_product_count_local_storage(product_id){
                                        product = cart.filter(item => item.id == product_id)
                                        if (product.count > 1)
                                            product.count -= 1
                                        else
                                            delete_product_count_local_storage(product_id)
                                    }
                                    function delete_product_count_local_storage(product_id){
                                        product = cart.filter(item => item.id == product_id)
                                        cart = cart.filter(item => item != product)
                                        localStorage.cart = cart
                                    }

                                    $(".add${cart[i].id}").click(function() {
                                        add_product_count_local_storage(${cart[i].id})
                                        $('#id${cart[i].id}').html(${cart[i].count});
                                        $('.itemprice${cart[i].id}').html(${cart[i].price*cart[i].count});
                                        $('#facctorprice').html(${cart.map(item=>item.price*item.count).reduce((a,b)=> a+b,0)});
                                        $.fn.digits = function(){
                                            return this.each(function(){
                                                $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
                                            })
                                        }
                                        $(".numbersprice").digits();

                                    });


                                    $(".remove${cart[i].id}").click(function() {

                                        $('#id${cart[i].id}').html(${cart[i].count});
                                        $('.itemprice${cart[i].id}').html(${cart[i].price*cart[i].count});
                                        $('#facctorprice').html(${cart.map(item=>item.price*item.count).reduce((a,b)=> a+b,0)});
                                        $.fn.digits = function(){
                                            return this.each(function(){
                                                $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
                                            })
                                        }
                                        $(".numbersprice").digits();
                                    });

                                    $(".delete${cart[i].id}").click(function() {

                                        $('#id${cart[i].id}').html(${cart[i].count});
                                        $('.itemprice${cart[i].id}').html(${cart[i].price*cart[i].count});
                                        $('#facctorprice').html(${cart.map(item=>item.price*item.count).reduce((a,b)=> a+b,0)});
                                        $.fn.digits = function(){
                                            return this.each(function(){
                                                $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
                                            })
                                        }
                                        $(".numbersprice").digits();
                                    });
                                    \<\/script\>
                                </div>
                            </div>
                        </div>
                    </div>
                    `
                }
        } else {
            txt1 += "هیچ محصولی در سبد خرید شما موجود نیست ..."
        }
        $(".product-cart").html(txt1);
    } {% endcomment %}

    var app = new Vue({
        el: '#cart',
        delimiters: ['[[', ']]'],
        data: {
            cart: JSON.parse(window.localStorage.getItem('cart')),
        },
        methods: {
            get_total_price_without_discount: function (item) {
                return (parseInt(item.count) * (parseInt(item.price) + parseInt(item.discount)))
            },
            get_total_price: function (item) {
                return (parseInt(item.count) * parseInt(item.price))
            },
            get_shop_url (item) {
                return '/' + item.shop.slug
            },
            increase_product_count: function (item) {
                item.count += 1
                this.set_local_storage()
            },
            decrease_product_count: function (item) {
                if (item.count > 1){
                    item.count -= 1
                    this.set_local_storage()
                }
                else{
                    this.delete_product(item)
                    this.set_local_storage()
                }
            },
            delete_product: function (item) {
                this.cart = this.cart.filter(i => i != item)
                this.set_local_storage()
            },
            set_local_storage(){
                localStorage.setItem('cart', JSON.stringify(this.cart))
                shopping_cart()
            },
            get_cart_total_price: function () {
                var total_price = 0
                this.cart.map(item => total_price += this.get_total_price(item))
                return total_price
            }
        }
    })

</script>


{% block footer-section %}
{% include "nakhll_market/parents/footer-section.html" %}
{% endblock %}

{% block footer %}
{% include "nakhll_market/parents/footersite.html" %}
{% endblock %}